<div>&nbsp;</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <section class='panel panel-default table-dynamic'>
                <div class='panel-heading'>
                    <strong><span class='glyphicon glyphicon-th'></span> Bulk Checkin</strong>
                </div>
                <div class='panel-body'>
                    <form rolw='form'>
                        <h3>Upload a CSV file in requested format</h3>
                        <div>&nbsp;</div>
                        <input ng-model='csv' onchange="angular.element(this).scope().fileChanged()" type="file" accept=".csv" id="fileInput" title="Choose File" data-ui-file-upload class='btn-primary'>
                        <div>&nbsp;</div>
                        <a class='btn btn-success btn-w-md btn-lg spacing' ng-click="submitUserList()">Submit</a>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
