<div class='col-xs-12 col-sm-12'>
  <div class='panel panel-default table-responsive'>
    
    <div class='panel-body'>
      <h3>
        <b>Bulk Checkin</b>
      </h3>
      <h3>Upload a CSV file in requested formet</h3>
      <div class="col-md-6">
          <br>
          <input ng-model="csv" onchange="angular.element(this).scope().fileChanged()"
                          type="file" accept=".csv" id="fileInput"/>
               
          <br>        
             <p ng-if = "jsonData">File Uploaded Successfully, Click Submit Button To Checkin</p>     
          <br>      
          <button type="button" class="btn btn-success btn-lg spacing" ng-click="submitUserList()">Submit</button>
          
           
      </div> 
    </div>
    
    
  </div>
</div>
