<div class='col-xs-12 col-sm-10 col-sm-offset-1' ng-init='loadReportProblem()'>
	<div class='panel panel-default table-responsive'>
		<div class='panel-heading'>
			<ol class='breadcrumb' style='margin-bottom:0px;'>
				<li><a>Report Problem</a></li>
				<li class='active'>List</li>
			</ol>
		</div>
		<div class='panel-body'>
			<ul class='nav nav-pills nav-justified'>
				<li role='presentation' class='dropdown'>
					<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sort By: {{sort_order[sort]}} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-repeat='(sort, text) in sort_order'><a ng-click='updateSortOrder(sort)'>{{text}}</a></li>
					</ul>
				</li>
				<li role='presentation' ng-repeat='(val, text) in view_options' ng-class='{"active": view_by==text}' ng-click='updateViewBy(val)'><a>{{text}}</a></li>
			</ul>
		</div>
		<table class='table table-striped table-hover'>
			<thead>
				<th>S No</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Comment</th>
				<th>Date</th>
				

			</thead>
			<tbody>
				<tr ng-repeat='report in report_problems'>
					<td>{{$index + 1}}</td>
					<td>{{report.event_user.phone}}</td>
					<td>{{report.event_user.email}}</td>
					<td>{{report.event_meta.comment}}</td>
					<td>{{report.event_date}}</td>
					
				</tr>
			</tbody>
		</table>
	</div>
</div>