<div class='col-xs-12 col-sm-10 col-sm-offset-1' ng-init='loadEvent()'>
	<div class='panel panel-default table-responsive'>
		<div class='panel-heading'>
			<ol class='breadcrumb' style='margin-bottom:0px;'>
				<li><a ui-sref='^.reported_problem'>Reported Problems</a></li>
				<li class='active'>{{problem._id}}</li>
			</ol>
		</div>
		<div class='panel-body'>
			<div class='col-xs-12'>
				<div class='row'>
					<label class='col-xs-12 col-sm-4 control-label' for='user_phone'>User Phone</label>
					<div class='col-xs-12 col-sm-6'>
						<strong>{{problem.event_meta.user.phone}}</strong>
					</div>
				</div>
				<div class='row' ng-if='problem.event_meta.user.email'>
					<label class='col-xs-12 col-sm-4 control-label' for='user_email'>User Email</label>
					<div class='col-xs-12 col-sm-6'>
						<strong>{{problem.event_meta.user.email}}</strong>
					</div>
				</div>
				<div class='row'  ng-if='problem.event_meta.issue'>
					<label class='col-xs-12 col-sm-4 control-label' for='issue'>Issue</label>
					<div class='col-xs-12 col-sm-6'>
						<strong>{{problem.event_meta.issue}}</strong>
					</div>
				</div>
				<div class='row'>
					<label class='col-xs-12 col-sm-4 control-label' for='comment'>Comment</label>
					<div class='col-xs-12 col-sm-6'>
						<strong>{{problem.event_meta.comment</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>