<div class='col-xs-12 col-sm-10 col-sm-offset-1' style='min-height:100vh;'>
	<div  class='panel panel-default table-responsive'>
		<div class='panel-heading'>
			<ol class='breadcrumb' style='margin-bottom: 0px;'>
				<li><a>QRs</a></li>
				<li class='active'>List</li>
			</ol>
		</div>
		<div class='panel-body'>
			<div ng-class='{"generated_qrs": "well", "generated_qrs": "well-lg"}'>
				<form class='form-horizontal' ng-submit='generateQR()' ng-if='!generated_qrs'>
					<fieldset>
						<legend>Create QR</legend>
						<div class='form-group'>
							<label for='qr_outlet' class='col-md-2 control-label'>Choose Outlet</label>
							<div class='col-xs-8 col-sm-6'>
								<input type="text" ng-model="outlet_name" typeahead="(outlet.name + (outlet.locality_1? ','+outlet.locality_1: '') + ', ' + outlet.locality_2 ) for outlet in outlets | filter:{name: $viewValue} | limitTo:8" class="form-control" typeahead-on-select='updateOutletId($item)'>
							</div>
						</div>
						<div class='form-group'>
							<label for='qr_count' class='col-md-2 control-label'># of QRs</label>
							<div class='col-sm-4 col-md-2'>
								<input type='number' ng-model='qr_req.num' class='form-control text-right' min='1'>
							</div>
						</div>
						<div class='form-group'>
							<label for='qr_type' class='col-md-2 control-label'>QR Type</label>
							<div class='col-sm-6 col-md-3'>
								<select ng-model='qr_req.type' class='form-control' ng-change='updateQrLimit()'>
									<option value='single'>Single Use</option>
									<option value='multi'>Multiple Use</option>
								</select>
							</div>
						</div>
						<div class='form-group' ng-if='qr_req.type=="multi"'>
							<label for='qr_max_use' class='col-md-2 control-label'>Times?</label>
							<div class='col-sm-6 col-md-3'>
								<input type='number' ng-model='qr_req.max_use_limit' class='form-control text-right'>
							</div>
						</div>
						<div class='form-group'>
							<label for='qr_validitiy' class='col-md-2 control-label'>Validity</label>
							<div class='col-md-8'>
								<div class='form-group'>
									<label for='qr_validity_start' class='col-md-3 control-label'>Start</label>
									<div class='col-md-6'>
										<input type='text' datepicker-popup="MM/dd/yyyy" show-button-bar='false' min-date='minDate' max-date='maxDate' is-open="start_open" ng-focus="start_open = true" ng-click="start_open = true" class='form-control' ng-model='qr_req.validity.start' ng-change='updateValidityEnd()' placeholder='MM/dd/yyyy'>
									</div>
								</div>
								<div class='form-group'>
									<label for='qr_validity_end' class='col-md-3 control-label'>End</label>
									<div class='col-md-6'>
										<input type='text' datepicker-popup="MM/dd/yyyy" show-button-bar='false' min-date='qr_req.validity.start || minDate' max-date='maxDate' is-open="end_open" ng-focus="end_open = true" ng-click="end_open = true" class='form-control' ng-model='qr_req.validity.end' placeholder='MM/dd/yyyy'>
									</div>
								</div>
							</div>
						</div>
						<div class='form-group'>
							<div class='col-md-offset-2 col-md-4'>
								<button type='submit' class='btn btn-block btn-primary'>Generate Qrs</button>
							</div>
						</div>
					</fieldset>
				</form>		
				<div ng-show='generated_qrs'>
					<div class='col-xs-12 col-sm-6 col-lg-4 well well-lg' ng-repeat='qr in generated_qrs'>
						<legend>{{qr.code}}</legend>
						<h3>Use limit: {{qr.max_use_limit}}</h3>
						<h3>Type: {{qr.type}}</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>