# TOC
 - [User Tests](#user-tests)
   - [Get user](#user-tests-get-user)
<a name=""></a>
 
<a name="auth-tests"></a>
# Auth Tests
<a name="auth-tests-login"></a>
## Login
<a name="auth-tests-logout"></a>
## Logout
<a name="user-tests"></a>
# User Tests
