<div>&nbsp;</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <section class='panel panel-default table-dynamic'>
                <div class='panel-heading'>
                    <strong><span class='glyphicon glyphicon-th'></span> Orders</strong>
                </div>
                <div class='table-filters'>
                    <div class='row'>
                        <div class='col-sm-4 col-xs-6'>
                            <form>
                                <input type='text' placeholder='Search...' class='form-control' ng-model='searchKeywords' ng-keyup='search()'>
                            </form>
                        </div>
                        <div class='col-sm-3 col-xs-6'>
                            <span>
                				Showing {{filtered_orders.length}}/{{orders.length}} orders.
                			</span>
                        </div>
                    </div>
                </div>
                <table class='table table-bordered table-hover table-striped table-responsive' style='min-heigth:400px;'>
                    <thead>
                        <tr>
                            <th>
                                <div class='th'>
                                    Actions
                                </div>
                            </th>
                            <th>
                                <div class='th'>
                                    Order Number
                                    <span class='fa fa-angle-up' ng-click='order("order_number")' ng-class='{active: row === "order_number"}'></span>
                                    <span class='fa fa-angle-down' ng-click='order("-order_number")' ng-class='{active: row === "-order_number"}'></span>
                                </div>
                            </th>
                            <th>
                                <div class='th'>
                                    User Phone
                                    <span class='fa fa-angle-up' ng-click='order("user.phone")' ng-class='{active: row === "user.phone"}'></span>
                                    <span class='fa fa-angle-down' ng-click='order("-user.phone")' ng-class='{active: row === "-user.phone"}'></span>
                                </div>
                            </th>
                            <th>
                                <div class='th'>
                                    User Email
                                    <span class='fa fa-angle-up' ng-click='order("user.email")' ng-class='{active: row === "user.email"}'></span>
                                    <span class='fa fa-angle-down' ng-click='order("-user.email")' ng-class='{active: row === "-user.email"}'></span>
                                </div>
                            </th>
                            <th>
                                <div class='th'>
                                    Item(s)
                                    <span class='fa fa-angle-up' ng-click='order("items.length")' ng-class='{active: row === "items.length"}'></span>
                                    <span class='fa fa-angle-down' ng-click='order("-items.length")' ng-class='{active: row === "-items.length"}'></span>
                                </div>
                            </th>
                            <th>
                                <div class='th'>
                                    <select ng-model='view_status' ng-change='sort(view_status)' class='form-control' name='viewByStatus'>
                                        <option value='' ng-if='!view_status'>Status</option>
                                        <option value='' ng-if='view_status'>All</option>
                                        <option value='pending'>Pending</option>
                                        <option value='accepted'>Accepted</option>
                                        <option value='declined'>Declined</option>
                                        <option value='delivered'>Delivered</option>
                                    </select>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='order in current_page_orders'>
                            <td>{{order.order_number}}</td>
                            <td>{{order.user.phone}}</td>
                            <td>{{order.user.email}}</td>
                            <td>{{order.items.length}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
