<div class='modal-header'>
    <h2>Request Menu Update</h2>
</div>
<div class='modal-body table-container table-responsive'>
    <form accept-charset="utf-8" class='form-horizontal'>
        <div class='form-group'>
            <label class='col-sm-2'>Comments</label>
            <div class='col-sm-10'>
                <textarea class='form-control' rows='8' ng-model='update_request.event_meta.comment'></textarea>
            </div>
        </div>
    </form>
</div>
<div class='modal-footer'>
    <button type='button' class='btn btn-w-md btn-gap-v btn-primary' ng-click='submitRequest()'>Submit</button>
</div>
