<div class='modal-header'>
    <legend ng-if='is_new'>Add New {{option_title}} Option</legend>
    <legend ng-if='!is_new'>Update {{option_title}} Option</legend>
</div>
<div class='modal-body'>
	<form class='form-horizontal' role='form'>
	    <div class='form-group'>
	        <label class='col-sm-2 control-label'>Option Name <i class='fa fa-sm fa-asterisk'></i></label>
	        <div class='col-sm-8'>
	            <input type='text' ng-model='option.option_value' class='form-control' placeholder='Option Name' autofocus>
	        </div>
	    </div>
	    <div class='clearfix'></div>
	    <div class='form-group'>
	    	<label class='col-sm-2 control-label'>Option Cost <i class='fa fa-sm fa-asterisk'></i></label>
	        <div class='col-sm-3'>
	            <div class='input-group'>
	                <span class='input-group-addon'><i class='fa fa-inr'></i></span>
	                <input type='number' ng-model='option.option_cost' class='form-control'>
	            </div>
	        </div>
	    	<div class='col-sm-3'>
	        	<input type='checkbox' bs-switch ng-model='option.is_vegetarian' switch-off-text='Non Vegetarian' switch-on-text='Vegetarian' switch-on-color='success' switch-off-color='danger'>
	    	</div>
	    </div>
    </form>
</div>
<div class='modal-footer'>
    <button type='button' class='btn btn-w-md btn-gap-v btn-primary' ng-click='resolveOption()' ng-if='is_new'><i class='fa fa-plus'></i> Add</button>
    <button type='button' class='btn btn-w-md btn-gap-v btn-primary' ng-click='resolveOption()' ng-if='!is_new'> Update </button>
    <button type='button' class='btn btn-w-md btn-gap-v btn-warning' ng-click='discardOption()'> Discard</button>
</div>
