<div class='modal-header'>
    <legend>Clone Menu</legend>
</div>
<div class='modal-body'>
    <form class='form-horizontal' role='form'>
        <div class='form-group' ng-if='outlets.length!==0'>
            <label class='col-sm-2 control-label'>Outlet <i class='fa fa-sm fa-asterisk'></i></label>
            <div class='col-sm-8'>
                <select ng-model='req_obj.outlet' class='form-control'>
                    <option value='' ng-if='!req_obj.outlet'>Choose an outlet</option>
                    <option ng-repeat='outlet in outlets' value='{{outlet._id}}'>{{outlet.basics.name}}, {{outlet.contact.location.locality_1[0]}} {{outlet.contact.location.locality_1[0]?', ':''}} {{outlet.contact.location.locality_2[0]}}</option>
                </select>
            </div>
        </div>
        <div class='form-group' ng-if='outlets.length===0'>
            <div class='col-xs-12'>
                <div class='alert alert-danger'>
                    <b>No others outlets to clone to.</b>
                </div>
            </div>
        </div>
    </form>
</div>
<div class='modal-footer'>
    <button type='button' class='btn btn-w-md btn-gap-v btn-info' ng-click='cloneMenu()' ng-if='is_new'><i class='fa fa-plus'></i> Clone</button>
    <button type='button' class='btn btn-w-md btn-gap-v btn-danger' ng-click='cancel()'> Cancel</button>
</div>
