<div class='modal-header'>
    <h3><strong>Order #{{order.order_number}}</strong></h3>
</div>
<div class='modal-body'>
    <div class='container-fluid'>
        <table class='table table-condensed table-responsive'>
            <tbody>
                <tr>
                    <td>{{order.user.first_name}} {{order.user.last_name}}</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <p>{{order.order_date | date: 'MMM dd hh:mm a'}}</p>
                        <p>{{order.address.line1}}, {{order.address.line2?order.address.line2 + ', ':''}} {{order.address.city}}</p>
                    </td>
                    <td>
                        {{order.user.phone}}
                    </td>
                </tr>
                <tr>
                    <th>ITEM</th>
                    <th>PRICE</th>
                </tr>
                <tr ng-repeat='item in order.items track by $index'>
                    <td>
                        {{item.item_name}}
                        <span class='label label-default' ng-if='item.option && item.option._id'>{{option.option_value}}</span>
                        <span class='label label-default' ng-repeat='sub_option in item.sub_options'>{{sub_option.sub_option_title}}: {{sub_option.sub_option_set[0].sub_option_value}}</span>
                        <span ng-repeat='addon in item.addons'>
                            <span class='label label-default' ng-repeat='addon_obj in addon.addon_set'>{{addon_obj.addon_value}}</span>
                        </span>
                    </td>
                    <td class='text-right'>
                        <i class='fa fa-inr'></i> {{getItemPrice(item)}}
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th>Item Total</th>
                    <td class='text-right'>
                        <i class='fa fa-inr'></i> {{getItemTotal()}}
                    </td>
                </tr>
                <tr>
                    <th>VAT</th>
                    <td class='text-right'>
                        <i class='fa fa-inr'></i> {{order.tax_paid}}
                    </td>
                </tr>
                <tr>
                    <th>Delivery and Dispatch</th>
                    <td class='text-right'>
                        <i class='fa fa-inr'></i> delivery
                    </td>
                </tr>
                <tr>
                    <th>Discount</th>
                    <td class='text-right'>
                        <i class='fa fa-inr'></i> discount
                    </td>
                </tr>
                <tr>
                    <th>GRAND TOTAL</th>
                    <th class='text-right'>
                        <i class='fa fa-inr'></i> grand_total
                    </th>
                </tr>
                <tr>
                    <td colspan="2" class='text-center'>
                        <span>
                            Delivery Time: 
                            <input type='number' ng-model='order.estimate_time' step='5' min='10' max='180'>
                        </span>
                        <span class='label label-info' ng-if='order.payment_info.payment_mode === "COD"'>COD</span>
                        <span class='label label-danger' ng-if='order.payment_info.payment_mode !== "COD"'>PAID</span>
                        <span class='label label-default pull-right'>{{order.order_status}}</span>
                        <div class='clearfix'></div>
                        <p>&nbsp;</p>
                        <a class='btn btn-success' ng-click='acceptOrder()' ng-if='order.order_status === "pending"'>Accept</a>
                        <a class='btn btn-warning' ng-click='declineOrder()' ng-if='order.order_status === "pending"'>Decline</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
