<div class='col-xs-12 col-sm-10 col-sm-offset-1' ng-init='loadComment()'>
	<div class='panel panel-default table-responsive'>
		<div class='panel-heading'>
			<ol class='breadcrumb' style='margin-bottom: 0px;'>
				<li><a ui-sref='^.write_to_twyst'>Write to Twyst</a></li>
				<li class='active'>{{comment._id}}</li>
			</ol>
		</div>
		<div class='panel-body'>
			<div class='col-xs-12'>
				<div class='row'>
					<label class='col-xs-12 col-sm-4 control-label' for='user_phone'>User Phone</label>
					<div class='col-xs-12 col-sm-6'>
						<strong>{{comment.event_meta.user.phone}}</strong>
					</div>
				</div>
				<div class='row' ng-if='comment.event_meta.user.email'>
					<label class='col-xs-12 col-sm-4 control-label' for='user_email'>User email</label>
					<div class='col-xs-12 col-sm-6'>
						<strong>{{comment.event_meta.user.email}}</strong>
					</div>
				</div>
				<div class='row'>
					<label class='col-xs-12 col-sm-4 control-label' for='date'>Submitted On</label>
					<div class='col-xs-12 col-sm-6'>
						<strong>{{comment.event_date | date: 'MMM dd yyyy hh:mm a'}}</strong>
					</div>
				</div>
				<div class='row'>
					<label class='col-xs-12 col-sm-4 control-label' for='comment'>Comment</label>
					<div class='col-xs-12 col-sm-6'>
						<textarea ng-model='comment.event_meta.comments' class='form-control' rows='5' style='overflow:auto;resize:none;' disabled></textarea>
					</div>
				</div>
				<div class='row'>&nbsp;</div>
				<div class='row'>
					<div class='col-xs-12 col-sm-4 col-sm-offset-1'>
						<a class='btn btn-block btn-success' ng-click='accept()'>Accept</a>
					</div>
					<div class='col-xs-12 col-sm-4 col-sm-offset-1'>
						<a class='btn btn-block btn-danger' ng-click='reject()'>Reject</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>