<div class='col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2' style='min-height:100vh;'>
  <wizard on-finish='createOutlet()'>
    <wz-step title='Outlet Basics' canexit='validateStep1'>
      <div class='well well-lg'>
        <form class='form-horizontal'>
          <fieldset>
            <legend>Outlet Info</legend>
            <div class='form-group'>
              <label for='outlet_name' class='col-md-2 control-label'>Outlet name</label>
              <div class='col-md-5'>
                <input type='text' class='form-control' ng-model='outlet.basics.name' autocomplete='off' style='cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;'>
              </div>
            </div>
            <div class='form-group'>
              <label for='outet_desc' class='col-md-2 control-label'>Address</label>
              <div class='col-md-5'>
                <textarea class='form-control' rows='4' ng-model='outlet.contact.location.address' style='overflow:auto;resize:none;'></textarea>
                <span class='help-block'>Provide the complete outlet address</span>
              </div>
            </div>
            <div class='form-group'>
              <label for='locality_1' class='col-md-2 control-label'>Locality 1</label>
              <div class='col-md-4'>
                <input type='text' class='form-control' ng-model='outlet.contact.location.locality_1[0]'>
              </div>
              <label for='locality_2' class='col-md-2 control-label'>Locality 2</label>
              <div class='col-md-4'>
                <input type='text' class='form-control' ng-model='outlet.contact.location.locality_2[0]'>
              </div>
            </div>
            <div class='form-group'>
              <label for='city' class='col-md-2 control-label'>City</label>
              <div class='col-md-4'>
                <input type='text' class='form-control' ng-model='outlet.contact.location.city'>
              </div>
              <label for='pincode' class='col-md-2 control-label'>Pincode</label>
              <div class='col-md-4'>
                <input type='text' class='form-control' ng-model='outlet.contact.location.pin'>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class='well well-lg'>
        <form class="form-horizontal">
          <fieldset>
            <legend>Geo Location</legend>
            <div class="form-group">
              <label for="map_container" class="col-md-2 control-label">Mark Location</label>
              <div class="col-md-10">
                <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" events='mapEvents'>
                  <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                  </ui-gmap-marker>
                </ui-gmap-google-map>
              </div>
            </div>
            <div class='form-group'>
              <label for='coordinates' class='col-md-2 control-label'>Coordinates</label>
              <div class='col-md-10' ng-if='outlet.contact.location.coords.longitude && outlet.contact.location.coords.latitude'>
                <label class='control-label' for='geo_data'>Geographical Coordinates</label>
                <div class='clearfix'></div>
                <div class='col-sm-6'>Longitude: {{outlet.contact.location.coords.longitude}}</div>
                <div class='col-sm-6'>Latitide: {{outlet.contact.location.coords.latitude}}</div>
                <div class='col-sm-12'><a href='{{outlet.contact.location.map_url}}' target='_blank'> Click here to view map link</a></div>
              </div>
              <div class='col-md-10' ng-if='!outlet.contact.location.coords.longitude || !outlet.contact.location.coords.latitude'>
                <div class='alert alert-warning' ng-if='!outlet.contact.location.coords.longitude || !outlet.contact.location.coords.latitude'>
                  <p>Drop a pin to the outlet location to get location details</p>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class='well well-lg'>
        <form class='form-horizontal'>
          <fieldset>
            <legend>Phone Numbers</legend>
            <div class='form-group'>
              <label for='outlet_numbers' class='col-md-2 control-label'>Outlet Numbers</label>
              <div class='col-md-10'>
                <div class='row' ng-repeat='number in outlet.contact.phones.mobile'>
                  <div class='col-md-8'>
                    <div class='input-group'>
                      <div class='input-group-addon'># {{$index + 1}}</div>
                      <input class='form-control' type='text' ng-model='number.num'>
                      <div class='input-group-addon mob-num-addon' ng-show='outlet.contact.phones.mobile.length>1' ng-click='removeNumber(outlet.contact.phones.mobile, $index)'>
                        <button class='btn btn-danger'>
                          <span class='glyphicon glyphicon-trash'></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class='col-md-4'>
                    <select class='form-control' ng-model='number.num_type'>
                      <option value='mobile'>Mobile</option>
                      <option value='landline'>Landline</option>
                    </select>
                  </div>
                  <div class='col-xs-12'>
                    <p />
                  </div>
                </div>
                <div class='col-xs-12'>
                  <p />
                </div>
                <button class='btn btn-default' ng-click='addNumber("mobile")'>Add mobile</button>
              </div>
            </div>
            <div class='form-group'>
              <label for='outlet_numbers' class='col-md-2 control-label'>Registered Mobiles</label>
              <div class='col-md-10'>
                <div class='col-md-8' ng-repeat='number in outlet.contact.phones.reg_mobile'>
                  <div class='input-group'>
                    <div class='input-group-addon'># {{$index + 1}}</div>
                    <input class='form-control' type='text' ng-model='number.num'>
                    <div class='input-group-addon mob-num-addon' ng-show='outlet.contact.phones.mobile.length>1' ng-click='removeNumber(outlet.contact.phones.reg_mobile, $index)'>
                      <button class='btn btn-danger'>
                        <span class='glyphicon glyphicon-trash'></span>
                      </button>
                    </div>
                  </div>
                  <div class='col-xs-12'><p /></div>
                </div>
                <div class='col-xs-12'><p /></div>
                <div class='clearfix'></div>
                <button class='btn btn-default' ng-click='addNumber("reg_mobile")'>Add mobile</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class='well well-lg'>
        <form class='form-horizontal'>
          <fieldset>
            <legend>Contact Personal</legend>
            <div class='form-group'>
              <label for='contact_name' class='col-md-2 control-label'>Contact Name</label>
              <div class='col-md-10'>
                <input type='text' class='form-control' ng-model='outlet.contact.emails.person'>
              </div>
            </div>
            <div class='form-group'>
              <label for='designation' class='col-md-2 control-label'>Designation</label>
              <div class='col-md-10'>
                <input type='text' class='form-control' ng-model='outlet.contact.emails.designation'>
              </div>
            </div>
            <div class='form-group'>
              <label for='email' class='col-md-2 control-label'>EMail</label>
              <div class='col-md-10'>
                <input type='email' class='form-control' ng-model='outlet.contact.emails.email'>
              </div>
            </div>
            <div class='form-group'>
              <label for='email_type' class='col-md-2 control-label'>Email Type</label>
              <div class='col-md-10'>
                <select ng-model='outlet.contact.emails.type' class='form-control'>
                  <option value='personal'>Personal</option>
                  <option value='work'>Work</option>
                </select>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class='clearfix'></div>
      <button class='btn btn-primary' wz-next>Continue</button>
    </wz-step>
    <wz-step title='Outlet Details' canexit='validateStep2'>
      <div class='well well-lg'>
        <form class='form-horizontal'>
          <fieldset>
            <legend>Attributes</legend>
            <div class='form-group'>
              <label for='outlet_type' class='col-md-3 control-label'>Outlet Type</label>
              <div class='col-md-6'>
                <select ng-model='outlet.basics.main_type' class='form-control'>
                  <option value='bakery'>Bakery</option>
                  <option value='cafe'>Cafe</option>
                  <option value='delivery'>Delivery Only</option>
                  <option value='desserts'>Desserts</option>
                  <option value='pub_lounge'>Pub/Lounge</option>
                  <option value='fast_foor'>QSR/Fast Food</option>
                  <option value='restaurant'>Restaurant</option>
                </select>
              </div>
            </div>
            <div class='form-group'>
              <label for='dine_in' class='col-md-3 control-label'>Dine-In Available</label>
              <div class='col-md-9'>
                <input type='checkbox' ng-model='outlet.attributes.dine_in'>
              </div>
            </div>
            <div class='form-group'>
              <label for='alcohol' class='col-md-3 control-label'>Serves Alcohol</label>
              <div class='col-md-9'>
                <input type='checkbox' ng-model='outlet.attributes.alcohol'>
              </div>
            </div>
            <div class='form-group'>
              <label for='delivery' class='col-md-3 control-label'>Home Delivery</label>
              <div class='col-md-9'>
                <input type='checkbox' ng-model='outlet.attributes.home_delivery'>
              </div>
            </div>
            <div class='form-group' ng-if='outlet.attributes.home_delivery'>
              <label for='delivery_info' class='col-md-3 control-label'>Delivery Information</label>
              <div class='col-md-9'>
                <div class='form-group'>
                  <label for='delivery_est_time' class='col-md-3 control-label'>Estimate Time</label>
                  <div class='col-md-6'>
                    <div class='input-group'>
                      <input type='text' class='form-control text-right' ng-model='outlet.attributes.delivery.delivery_estimated_time' placeholder='Eg. 30, 40, 45, 60...'>
                      <div class='input-group-addon'> minutes</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='form-group'>
              <label for='cuisines' class='col-md-3 control-label'>Cuisines</label>
              <div class='col-md-9'>
                <ul class='list-group' ng-if='outlet.attributes.cuisines.length'>
                  <li class='list-group-item' ng-repeat='cuisine in outlet.attributes.cuisines track by $index'>{{cuisine}}
                    <button class='btn btn-sm btn-danger pull-right' ng-click='removeCuisine($index)'><span class='glyphicon glyphicon-trash'></span></button>
                  </li>
                </ul>
                <div class='alert alert-warning' ng-if='!outlet.attributes.cuisines.length'>
                  Start adding cuisines below.
                </div>
              </div>
            </div>
            <div class='form-group'>
              <label for='add_cuisine' class='col-md-3 control-label'>Add a Cuisine</label>
              <div class='col-md-9'>
                <input class='form-control' ng-model='newCuisine' ng-list placeholder='Add cuisine...' typeahead="cuisine for cuisine in cuisines | filter:$viewValue | limitTo:8" typeahead-on-select="addCuisine(newCuisine)"/>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class='well well-lg'>
        <form class='form-horizontal'>
          <fieldset>
            <legend>SMS OFF</legend>
            <div class='form-group'>
              <label for='status' class='col-md-2 control-label'>Active</label>
              <div class='col-md-10'>
                <input type='checkbox' ng-model='outlet.sms_off.value' ng-change='updateSMSOff()'>
              </div>
            </div>
            <div class='form-group' ng-if='outlet.sms_off.value'>
              <label for='timings' class='col-md-2 control-label'>Timings</label>
              <div class='col-md-10'>
                <div class='form-group'>
                  <label for='start_time' class='col-md-2 control-label'>Starting</label>
                  <div class='col-md-10'>
                    <input type='number' ng-model='outlet.sms_off.time.start.hr'> : <input type='number' ng-model='outlet.sms_off.time.start.min'>
                  </div>
                </div>
                <div class='form-group'>
                  <label for='end_time' class='col-md-2 control-label'>Uptill</label>
                  <div class='col-md-10'>
                    <input type='number' ng-model='outlet.sms_off.time.end.hr'> : <input type='number' ng-model='outlet.sms_off.time.end.min'>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <button class='btn btn-default' wz-previous>Go Back</button>
      <button class='btn btn-primary' wz-next>Continue</button>
      <div class='clearfix'></div>      
    </wz-step>
    <wz-step title='Outlet Timings' canexit='validateStep3'>
      <div class='well well-lg'>
        <form class='form-horizontal'>
          <fieldset>
            <legend>Outlet Timings</legend>
            <div class='form-group table-responsive'>
              <table class='table table-bordered table-condensed'>
                <thead>
                  <th>Day</th>
                  <th>Is Closed?</th>
                  <th ng-repeat='i in getMaxRange() track by $index'>Timing {{$index+1}}</th>
                  <th>Add Timing</th>
                  <th>Apply to all days</th>
                </thead>
                <tbody>
                  <tr ng-repeat='(day, schedule) in outlet.business_hours'>
                    <th>{{day | uppercase}}</th>
                    <td><input type='checkbox' ng-model='schedule.closed' ng-change='updateTiming(day, outlet.business_hours)'></td>
                    <td ng-repeat='i in getMaxRange() track by $index'>
                      <div class='col-md-12' ng-if='schedule.timings.length && schedule.timings[$index]' ng-click='removeTiming(day, $index, outlet.business_hours)' ng-show='schedule.timings.length>1' ng-init='initalizeTiming(day, $index, outlet.business_hours)'>
                        <button class='btn btn-sm btn-danger pull-right' ><span class='glyphicon glyphicon-trash'></span></button>
                      </div>
                      <div class='col-md-12' ng-if='schedule.timings[$index]'>
                        <input type='time' ng-model='schedule.timings[$index].open.time' placeholder="HH:MM A/P" class='form-control' ng-change='updateTime(day, $index, outlet.business_hours)'>
                      </div>
                      <div class='col-md-12 text-center' ng-if='schedule.timings[$index]'> to </div>
                      <div class='col-md-12' ng-if='schedule.timings[$index]'>
                        <input type='time' ng-model='schedule.timings[$index].close.time' placeholder="HH:MM A/P" class='form-control' ng-change='updateTime(day, $index, outlet.business_hours)'>
                      </div>
                    </td>
                    <td><button class='btn btn-sm btn-default' ng-click='addNewTiming(day, outlet.business_hours)' ng-show='!schedule.closed'>Add Timing</button></td>
                    <td><button class='btn btn-sm btn-default' ng-click='cloneToAllDays(day, outlet.business_hours)'>Apply to all days</button></td>
                  </tr>
                  <td>
                </tbody>
              </table>
            </div>
          </fieldset>
        </form>
      </div>
      <div class='clearfix'></div>
      <button class='btn btn-default' wz-previous>Go Back</button>
      <button class='btn btn-primary' wz-next>Continue</button>
      <div class='clearfix'></div> 
    </wz-step>
    <wz-step title='Photos' canexit='validateStep4'>
      <div class='well well-lg'>
        <form class='form-horizontal'>
          <fieldset>
            <legend>Photos</legend>
            <div class='form-group'>
              <label for='logo' class='col-md-3 control-label'>Logo</label>
              <div class='col-md-9'>
                <imagereader ng-outlet-id='outlet._id' id='outlet._id' ng-image-class='logo' ng-model='outlet.photos.logo'>
              </div>
            </div>
            <div class='form-group'>
              <label for='background' class='col-md-3 control-label'>Background</label>
              <div class='col-md-9'>
                <imagereader ng-outlet-id='outlet._id' ng-image-class='background' ng-model='outlet.photos.background' class='background'>
              </div>
            </div>
            <div class='form-group'>
              <label for='other_images' class='col-md-3 control-label'>Other Images</label>
              <div class='col-md-9'>
                <div class='alert alert-warning' ng-if='!outlet.photos.others.length'>Add more images below</div>
              </div>
            </div>
            <div class='form-group' ng-repeat='otherImg in outlet.photos.others'>
              <label for='other_label' class='col-md-3 control-label'>Image # {{$index+1}} <br />
                <button class='btn btn-sm btn-danger' ng-click='removeImage($index)'><span class='glyphicon glyphicon-trash'></span></button>
              </label>
              <div class='col-md-9'>
                <div class='row'>
                  <label for='img_title' class='col-md-2 control-label'>Title</label>
                  <div class='col-md-6'>
                    <input type='text' class='form-control' ng-model='otherImg.title'>
                  </div>
                </div>
                <div class='row'>
                  <label for='img_image' class='col-md-2 control-label'>Image</label>
                  <div class='col-md-9'>
                    <imagereader ng-model='otherImg.image' ng-outlet-id='outlet._id' ng-image-class='others' />
                  </div>
                </div>
              </div>
            </div>
            <div class='form-group'>
              <div class='col-md-9 col-md-offset-3'>
                <button class='btn btn-sm btn-default' ng-click='addImage()'><span class='glyphicon glyphicon-plus'></span> Add Image</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class='clearfix'></div>
      <button class='btn btn-default' wz-previous>Go Back</button>
      <button class='btn btn-primary' wz-next>Review</button>
      <div class='clearfix'></div>
    </wz-step>
    <wz-step title='Review'>
      <legend>Review</legend>
      <div class='form-group'>
      </div>
      <div class='clearfix'></div>
      <button class='btn btn-default' wz-previous>Go Back</button>
      <button class='btn btn-primary' wz-next>Create Outlet</button>
      <div class='clearfix'></div>
    </wz-step>
  </wizard>
  {{outlet}}
</div>