<div class='container'>
  <div class='col-xs-12'>
    <a class='btn btn-default' ui-sref='merchant.outlets'>Go Back</a> &nbsp;&nbsp;
    <a class='btn btn-primary' ui-sref='merchant.edit_outlet({outletId: outlet._id})'>Update Offer</a>
    <p> </p>
  </div>
  <div class='clearfix'></div>
  <div class='panel panel-default'>
    <div class='panel-heading'>Basic Information</div>
    <div class='panel-body'>
      <div class='col-md-6'>
        <h4>{{outlet.basics.name}}</h4>
        <span class='label label-primary'>{{outlet.outlet_type}}</span>
        <p><span class='glyphicon glyphicon-map-marker glyphicon-sm'></span> {{outlet.contact.location.locality_1[0]}}, {{outlet.contact.location.locality_2[0]}}</p>
        <p><span class='glyphicon glyphicon-home glyphicon-sm'></span> {{outlet.contact.location.address}} </p>
        <h4>Outlet Numbers</h4>
        <span class='label label-default' ng-repeat='number in outlet.contact.phones.mobile'><span class='glyphicon glyphicon-earphone glyphicon-sm'></span> {{number.num}}</span>
        <h4>Outlet Registered Numbers</h4>
        <span class='label label-default' ng-repeat='number in outlet.contact.phones.reg_mobile'><span class='glyphicon glyphicon-earphone glyphicon-sm'></span> {{number.num}}</span>
      </div>
      <div class='col-md-6'>
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" events='mapEvents'>
          <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
          </ui-gmap-marker>
        </ui-gmap-google-map>
      </div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading'>Attributes</div>
    <div class='panel-body'>
      <div class='col-md-6'>
        <h4>Dine-in</h4>
        <span class='label label-warning' ng-if='!outlet.attributes.dine_in'>Not Available</span>
        <span class='label label-primary' ng-if='outlet.attributes.dine_in'>Available</span>
        <h4>Delivery</h4>
        <span class='label label-warning' ng-if='!outlet.attributes.home_delivery'>Not Available</span>
        <span class='label label-primary' ng-if='outlet.attributes.home_delivery'>Available</span>
        <span ng-if='outlet.attributes.home_delivery'>Estimate Time: <span class='label' ng-class='{"label-primary": outlet.attributes.delivery.delivery_estimated_time<30, "label-default": outlet.attributes.delivery.delivery_estimated_time>=30 && outlet.attributes.delivery.delivery_estimated_time<=60, "label-warning": outlet.attributes.delivery.delivery_estimated_time>60}'>{{outlet.attributes.delivery.delivery_estimated_time}} mins.</span></span>
        <h4>Achohol</h4>
        <span class='label label-warning' ng-if='!outlet.attributes.alcohol'>Do Not Serve</span>
        <span class='label label-primary' ng-if='outlet.attributes.alcohol'>Serves</span>
        <h4>Cost for two: 
          From: <span class='label label-primary'>Rs.{{outlet.attributes.cost_for_two.min}}</span> 
          To:   <span class='label label-primary'>Rs.{{outlet.attributes.cost_for_two.max}}</span>
        </h4>
      </div>
      <div class='col-md-6'>
        <h4>Cuisines</h4>
        <ul class='list-group' ng-if='outlet.attributes.cuisines.length'>
          <li class='list-group-item' ng-repeat='cuisine in outlet.attributes.cuisines track by $index'>{{cuisine}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class='panel panel-default'>
    <div class='panel-heading'>Timings & SMS OFF Time</div>
    <div class='panel-body'>
      <div class='col-md-8'>
        <div class='row' ng-repeat='day in days'>
          <h4>{{day | uppercase}}</h4>
          <span class='label label-warning' ng-if='outlet.business_hours[day].closed'>Closed</span>
          <span class='label label-success' ng-if='!outlet.business_hours[day].closed'>Open</span>
          <span ng-repeat='timing in outlet.business_hours[day].timings' style='margin-left:10px;margin-right:10px;'><span class='label label-primary'>{{timing.open.time | date: 'hh:mm a'}}</span> to <span class='label label-primary'>{{timing.close.time | date: 'hh:mm a'}}</span></span>
        </div>
      </div>
      <div class='col-md-4'>
        <h2 class='control-label'>SMS OFF Time</h2>
        <div class='row'>
          <span class='label label-success' ng-if='outlet.sms_off.value'> Active</span>
          <span class='label label-default' ng-if='!outlet.sms_off.value'> Inactive</span>
        </div>
        <div class='row' ng-if='outlet.sms_off.value'>
          <h4>From </h4> <span class='label label-primary'>{{(outlet.sms_off.time.start.hr<10?'0': '') + outlet.sms_off.time.start.hr + ':' + (outlet.sms_off.time.start.min<10?'0': '') + outlet.sms_off.time.start.min}}</span>
          <h4>Upto </h4> <span class='label label-primary'>{{(outlet.sms_off.time.end.hr<10?'0': '') + outlet.sms_off.time.end.hr + ':' + (outlet.sms_off.time.end.min<10?'0': '') + outlet.sms_off.time.end.min}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class='clearfix'></div>
</div>