<section id='header'
	class='header-container header-fixed'
	ng-if='token'
	>
	<header class='top-header clearfix'>
		<div class='logo'>
			<a>
				<img src='images/logo.png' style="max-height:40px;width:auto;">
			</a>
		</div>

		<div class='menu-button' toggle-off-canvas>
			<span class='icon-bar'></span>
			<span class='icon-bar'></span>
			<span class='icon-bar'></span>
		</div>

		<div class='top-nav'>
			<ul class='nav-left list-unstyled'>
				<li>
					<a data-toggle-nav-collapsed-min
						class='toggle-min'
						><i class='fa fa-bars'></i></a>
				</li>
			</ul>
			<ul class='nav navbar-nav nav-right pull-right list-unstyled'>
				<li>
					<a class='btn btn-link' ng-click='logout()'><span class='text-primary'><i class='fa fa-power-off'></i>&nbsp; Logout</span></a>
				</li>
				<li>&nbsp;</li>
			</ul>
		</div>
	</header>
</section>
<div class='main-container'>
	<aside id='nav-container'
		class='nav-container nav-fixed nav-vertical'
		ng-if='token'
		>
		<div class='nav-wrapper'>
			<ul id='nav'
				class='nav'
				data-slim-scroll
				data-collapse-nav
				data-highlight-active>
				<li><a ui-sref='.default'> <i class='fa fa-dashboard'></i><span>PANEL</span></a></li>
				<li><a ui-sref='.outlets_manage'> <i class='fa fa-magic'></i><span>OUTLETS</span></a></li>
				<li><a ui-sref='.menus_manage'> <i class='fa fa-file-text-o'></i><span>MENUS</span></a></li>
				<li><a ui-sref='.offers_manage'> <i class='fa fa-table'></i><span>OFFERS</span></a></li>
				<li><a ui-sref='.bills_manage'> <i class='fa fa-pencil'></i><span>BILLS</span></a></li>
			</ul>
		</div>
	</aside>
	<div id='content'
		class='content-container'>
		<section ui-view
			class='view-container {{admin.pageTransition.class}}'></section>
	</div>
</div>
