<div>&nbsp;</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-8 table-responsive'>
            <div class='table-label'>
                <legend>Order Panel</legend>
            </div>
            <div class='col-xs-12'>
                <div class="row">
                    <label class='col-sm-2 control-label'>Pick Outlet</label>
                    <div class='col-sm-10'>
                        <select ng-model='choosen_outlet' ng-change='updateSub()' ng-disabled='!choosen_outlet' class='form-control'>
                            <option value='' ng-if='!choosen_outlet' n>No outlets to pick from</option>
                            <option value='{{id}}' ng-repeat='(id, _) in outlets'>{{outlets[id].basics.name}}{{outlets[id].contact.location.locality_1[0]?', ' + outlets[id].contact.location.locality_1[0]:''}}{{outlets[id].contact.location.locality_2[0]?', ' + outlets[id].contact.location.locality_2[0]:''}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class='col-xs-12'>
                <div class='btn-group btn-group-justified'>
                    <a class='btn' ng-click='updateShowing("pending")' ng-class='{"btn-primary": showing==="pending", "btn-dark": showing!=="pending"}'>Pending</a>
                    <a class='btn' ng-click='updateShowing("accepted")' ng-class='{"btn-primary": showing==="accepted", "btn-dark": showing!=="accepted"}'>Accepted</a>
                    <a class='btn' ng-click='updateShowing("declined")' ng-class='{"btn-primary": showing==="declined", "btn-dark": showing!=="declined"}'>Declined</a>
                    <a class='btn' ng-click='updateShowing("delivered")' ng-class='{"btn-primary": showing==="delivered", "btn-dark": showing!=="delivered"}'>Delivered</a>
                </div>
            </div>
            <div class='clearfix'></div>
            <div>&nbsp;</div>
            <div class='alert alert-warning text-center' ng-if='!orders.length'>
                <b>No {{showing}} orders right now.</b>
            </div>
            <div class='col-sm-12'>
                <div class='panel panel-primary' ng-repeat='order in orders'>
                    <div class='panel-body'>
                        <span class='pull-left'>Order #{{order.order_number}}</span>
                        <div class='pull-right'>{{order.user.phone}}</div>
                        <div class='clearfix'></div>
                        <div>&nbsp;</div>
                        <div class='pull-left'><span class='label label-warning'>{{order.order_status | uppercase}}</span></div>
                        <div class='pull-right'>{{order.user.email}}</div>
                        <div class='clearfix'></div>
                        <div>&nbsp;</div>
                        <div class='pull-left'><a class='btn btn-info btn-block'>{{order.items.length}} item(s).</a></div>
                        <div class='pull-right'><a class='btn btn-w-md btn-primary btn-block' ng-click='viewOrder(order, $index)'>View</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-sm-4'>
            <div class='table-label'>
                <legend>Checkin Panel</legend>
            </div>
            <div class='col-sm-12'>
                <div class='well'>
                    <label>Checkin User</label>
                    <div class='form-group'>
                        <div class='input-group'>
                            <input type='text' ng-model='checkin.number' class='form-control' placeholder='10 digit mobile number'>
                            <div class='input-group-btn'>
                                <a class='btn btn-primary' ng-disabled='checking_in' ng-click='checkinUser()'>
                                    <span ng-if='checking_in'><i class='fa fa-spinner fa-spin'></i> Checking In...</span>
                                    <span ng-if='!checking_in'>Checkin</span>
                                </a>
                            </div>
                        </div>
                        <div>&nbsp;</div>
                        <div class='input-group'>
                            <div class='input-group-addon'>Date</div>
                            <input type='text' datepicker-popup="MM/dd/yyyy" show-button-bar='false' min-date='minDate' max-date='maxDate' is-open="date_open" ng-click="date_open = true" class='form-control' ng-model='checkin.date'>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-sm-12'>
                <div class='well'>
                    <label>Find vouchers by code</label>
                    <div class='input-group'>
                        <input type='text' class='form-control' ng-model='search.code' placeholder='Voucher code'>
                        <div class='input-group-btn'>
                            <a class='btn btn-primary' ng-disabled='searchingByCode' ng-click='getVoucherByCode()'>
                                <span ng-if='searchingByCode'><i class='fa fa-spinner fa-spin'></i> Searching...</span>
                                <span ng-if='!searchingByCode'>Search</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-sm-12'>
                <div class='well'>
                    <label>Find vouchers by phone number</label>
                    <div class='input-group'>
                        <input type='text' class='form-control' ng-model='search.number' placeholder='10 digit mobile number'>
                        <div class='input-group-btn'>
                            <a class='btn btn-primary' ng-disabled='seachingByPhone' ng-click='getVouchersByPhone()'>
                                <span ng-if='seachingByPhone'><i class='fa fa-spinner fa-spin'></i> Searching...</span>
                                <span ng-if='!seachingByPhone'>Search</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
