<div>&nbsp;</div>
<div class='container-fluid' ng-init='getBills()'>
    <div class='row'>
        <div class='col-sm-12 table-responsive'>
            <div class='table-label'>
                <legend>Bills</legend>
            </div>
            <div class='table-container' style='min-height:400px;'>
                <form accept-charset="utf-8">
                    <div class='header-tools'>
                        <div class='pull-left'>
                            <a class='btn btn-default'>
                                <i class='fa fa-plus'></i>&nbsp; Add Offer
                            </a>
                        </div>
                        <div class='pull-right'>
                        </div>
                    </div>
                    <div class='clearfix'></div>
                    <div>&nbsp;</div>
                    <table class='table table-bordered table-hover'>
                        <thead>
                            <tr>
                                <th colspan="2">Actions</th>
                                <td>User ID</td>
                                <td>Outlet Name</td>
                                <td>Upload Date</td>
                                <td>Status</td>
                            </tr>
                            <tr>
                                <td style="border-right: none;">
                                    <div class='pull-left'>
                                        <input type='checkbox'>
                                    </div>
                                </td>
                                <td style="border-left: none;">
                                    <div class='pull-right'>
                                        <a class='btn btn-default' ng-click='getBills()'>
                                            <i class='fa fa-refresh'></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <input type='text' class='form-control pull-left' ng-model='filters.userId' placeholer='Search User ID' name='userIdName'>
                                </td>
                                <td>
                                    <input type='text' class='form-control pull-left' ng-model='filters.outletName' placeholder='Search Outlet Name' name='outletName'>
                                </td>
                                <td>
                                    <input type='text' class='form-control pull-left' ng-model='filters.date' placeholder='Search By Date' name='dateField'>
                                </td>
                                <td>
                                    <select ng-model='view_by' ng-change='getBills()' class='form-control pull-left' name='viewByField'>
                                        <option ng-repeat='(key, val) in view_options' value='{{key}}'>{{val}}</option>
                                    </select>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat='bill in bills | filter: billFilter'>
                                <td>
                                    <input type='checkbox'>
                                </td>
                                <td>
                                    <a class='btn btn-default' ui-sref='^.bills_view({bill_id: bill._id})'>
                                        <i class='fa fa-eye'></i> View
                                    </a>
                                </td>
                                <td>{{bill.event_user}}</td>
                                <td>{{bill.event_meta.outlet_name}}</td>
                                <td>{{bill.event_date | date: 'MMM dd, yyyy'}}</td>
                                <td>{{view_options[bill.event_meta.status]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <div class='col-xs-12'>
	<div class='panel panel-default table-responsive'>
		<div class='panel-heading'>
			<ol class='breadcrumb'>
				<li><a>Bills</a></li>
				<li class='active'>List</li>
			</ol>
		</div>
		<div class='panel-body'>
			<ul class='nav nav-pills nav-justified'>
				<li role='presentation' class='dropdown'>
					<a class='dropdown-toggle' data-toggle='dropdown' aria-expanded='false'>Sort By: {{sort_order[sort]}} <span class='caret'></span></a>
					<ul class='dropdown-menu'>
						<li ng-repeat='(sort, text) in sort_order'><a ng-click='updateSortOrder(sort)'>{{text}}</a></li>
					</ul>
				</li>
				<li role='presentation' ng-repeat='(val, text) in view_options' ng-class='{"active": view_by===val}' ng-click='updateViewBy(val)'><a>{{text}}</a></li>
			</ul>
		</div>
		<table class='table table-stripped table-hover'>
			<thead>
				<tr>
					<th>S No</th>
					<th>User Id</th>
					<th>Outlet Name</th>
					<th>Upload Date</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='bill in bills'>
					<td class='text-right'>{{$index + 1}}</td>
					<td>{{bill.event_user}}</td>
					<td>{{bill.event_meta.outlet_name}}</td>
					<td>{{bill.event_date | date: 'MMM dd, yyyy'}}</td>
					<td>{{bill.event_meta.status}}</td>
					<th><a class='btn btn-link' ui-sref='^.bills_view({bill_id: bill._id})'>View</a></th>
				</tr>
			</tbody>
		</table>
		<pagination total-items='totalItems' ng-model='currentPage' items-per-page='itemsPerPage' ng-change='get_bills()'></pagination>
	</div>
</div> -->
