<md-content>
    <md-card>
      <md-card-content>
        <div layout>
          <md-input-container flex>
            <md-select placeholder="Criteria" ng-model="deal.criteria">
              <md-option value="onevery">On Every</md-option>
              <md-option value="after">After</md-option>
              <md-option value="on">On</md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex>
            <label>Value</label>
            <input ng-model="deal.value">
          </md-input-container>
        </div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <div ng-include="'./partials/common/reward.tmpl.html'"></div>
      </md-card-content>
    </md-card>
    <md-card>
      <md-card-content>
        <div ng-include="'./partials/common/messages.tmpl.html'"></div>
      </md-card-content>
    </md-card>

</md-content>
