<div>&nbsp;</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <section class='panel panel-default table-dynamic'>
                <div class='panel-heading'>
                    <strong><span class='glyphicon glyphicon-th'></span> Offers</strong>
                </div>
                <div class='table-filters'>
                    <div class='row'>
                        <div class='col-sm-4 col-xs-6'>
                            <form>
                                <input type='text' placeholder='Search...' class='form-control' ng-model='searchKeywords' ng-keyup='search()'>
                            </form>
                        </div>
                        <div class='col-sm-3 col-xs-6 filter-result-info'>
                            <span>
                                Showing {{filtered_offers.length}}/{{offers.length}} offers.
                            </span>
                        </div>
                    </div>
                </div>
                <table class='table table-bordered table-hover table-striped table-responsive' style='min-height:400px;'>
                    <thead>
                        <tr>
                            <th>
                                <div class='th'>
                                    Outlet Name
                                    <span class='fa fa-angle-up' ng-click='order("outlet.name")' ng-class='{active: row === "outlet.name"}'></span>
                                    <span class='fa fa-angle-down' ng-click='order("-outlet.name")' ng-class='{active: row === "-outlet.name"}'></span>
                                </div>
                            </th>
                            <th>
                                <div class='th'>
                                    Locality 1
                                    <span class='fa fa-angle-up' ng-click='order("outlet.loc1")' ng-class='{active: row === "outlet.loc1"}'></span>
                                    <span class='fa fa-angle-down' ng-click='order("-outlet.loc1")' ng-class='{active: row === "-outlet.loc1"}'></span>
                                </div>
                            </th>
                            <th>
                                <div class='th'>
                                    Locality 2
                                    <span class='fa fa-angle-up' ng-click='order("outlet.loc2")' ng-class='{active: row === "outlet.loc2"}'></span>
                                    <span class='fa fa-angle-down' ng-click='order("-outlet.loc2")' ng-class='{active: row === "-outlet.loc2"}'></span>
                                </div>
                            </th>
                            <th>
                                <div class='th'>
                                    Offer Type
                                    <span class='fa fa-angle-up' ng-click='order("offer_type")' ng-class='{active: row === "offer_type"}'></span>
                                    <span class='fa fa-angle-down' ng-click='order("-offer_type")' ng-class='{active: row === "-offer_type"}'></span>
                                </div>
                            </th>
                            <th>
                                <div class='th'>
                                    Offer ID
                                    <span class='fa fa-angle-up' ng-click='order("_id")' ng-class='{active: row === "_id"}'></span>
                                    <span class='fa fa-angle-down' ng-click='order("-_id")' ng-class='{active: row === "-_id"}'></span>
                                </div>
                            </th>
                            <th>
                                <div class='th'>
                                    Start Date
                                    <span class='fa fa-angle-up' ng-click='order("offer_start_date")' ng-class='{active: row === "offer_start_date"}'></span>
                                    <span class='fa fa-angle-down' ng-click='order("-offer_start_date")' ng-class='{active: row === "-offer_start_date"}'></span>
                                </div>
                            </th>
                            <th>
                                <div class='th'>
                                    End Date
                                    <span class='fa fa-angle-up' ng-click='order("offer_end_date")' ng-class='{active: row === "offer_end_date"}'></span>
                                    <span class='fa fa-angle-down' ng-click='order("-offer_end_date")' ng-class='{active: row === "-offer_end_date"}'></span>
                                </div>
                            </th>
                            <th>
                                <div class='th'>
                                    <select ng-model='view_status' ng-change='sort(view_status)' class='form-control' name='viewByStatus'>
                                        <option value='' ng-if='!view_status'>Status</option>
                                        <option value='' ng-if='view_status'>All</option>
                                        <option value='active'>Active</option>
                                        <option value='draft'>Draft</option>
                                        <option value='archived'>Archived</option>
                                    </select>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='offer in current_page_offers' ui-sref='^.offers_view({offer_id: offer._id})' style='cursor:pointer;'>
                            <td>{{offer.outlet.name}}</td>
                            <td>{{offer.outlet.loc1}}</td>
                            <td>{{offer.outlet.loc2}}</td>
                            <td>{{offer.offer_type}}</td>
                            <td>{{offer._id}}</td>
                            <td>{{offer.offer_start_date | date: 'dd MMM yyyy'}}</td>
                            <td>{{offer.offer_end_date | date: 'dd MMM yyyy'}}</td>
                            <td>
                                <div class='btn-group'>
                                    <label class='btn' ng-class='{"btn-default": offer.offer_status !== "active", "btn-primary": offer.offer_status === "active"}' ng-model='offer.offer_status' ng-change='updateOfferStatus(offer)' btn-radio="'active'">Active</label>
                                    <label class='btn' ng-class='{"btn-default": offer.offer_status !== "draft", "btn-primary": offer.offer_status === "draft"}' ng-model='offer.offer_status' ng-change='updateOfferStatus(offer)' btn-radio="'draft'">Draft</label>
                                    <label class='btn' ng-class='{"btn-default": offer.offer_status !== "archived", "btn-primary": offer.offer_status === "archived"}' ng-model='offer.offer_status' ng-change='updateOfferStatus(offer)' btn-radio="'archived'">Archived</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <footer class='table-footer'>
                    <div class='row'>
                        <div class='col-sm-6 page-num-info'>
                            <span>
                                Show
                                <select ng-model='numPerPage' ng-options='num for num in numPerPageOpt' ng-change='onNumPerPageChange()'></select>
                                entries per page
                            </span>
                        </div>
                        <div class='col-sm-6 text-right pagination-container'>
                            <pagination class='pagination-sm' ng-model='currentPage' total-items='filtered_offers.length' max-size='4' ng-change='select(currentPage)' items-per-page='numPerPage' rotate='false' previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links='true'></pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>
