<div class='col-xs-12 col-sm-10 col-sm-offset-1' ng-init='loadOffers()'>
	<div class='panel panel-default table-responsive'>
		<div class='panel-heading'>
			<ol class='breadcrumb' style='margin-bottom:0px;'>
				<li><a>Offers</a></li>
				<li class='active'>List</li>
			</ol>
		</div>
		<div class='panel-body'>
			<ul class='nav nav-pills nav-justify'>
				<li class='pull-right'>
					<input type='text' placeholder='Search...' ng-model='offerFilter' ng-change='filterOffers(true)'>
				</li>
			</ul>
		</div>
		<table class='table table-striped table-hover'>
			<thead class='text-center'>
				<th>S No</th>
				<th>Outlet name</th>
				<th>Location</th>
				<th>Offer Type</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Status</th>
			</thead>
			<tbody class='text-justify'>
				<tr ng-repeat='offer in visible_offers' ui-sref='console.offer_view({offer_id: offer._id})' style='cursor:pointer;'>
					<td>{{(current_page-1) * per_page + $index + 1}}</td>
					<td>{{offer.outlet.name}}</td>
					<td>{{(offer.outlet.loc1? offer.outlet.loc1 + ', ': '') + offer.outlet.loc2}}
					<td>{{offer.offer_type}}</td>
					<td>{{offer.offer_start_date | date: 'dd MMM yyyy'}}</td>
					<td>{{offer.offer_start_date | date: 'dd MMM yyyy'}}</td>
					<th>
						<div class="btn-group">
					        <label class="btn btn-primary" ng-model="offer.offer_status" ng-change='updateOfferStatus(offer)' btn-radio="'active'">Active</label>
					        <label class="btn btn-primary" ng-model="offer.offer_status" ng-change='updateOfferStatus(offer)' btn-radio="'draft'">Draft</label>
					        <label class="btn btn-primary" ng-model="offer.offer_status" ng-change='updateOfferStatus(offer)' btn-radio="'archived'">Archived</label>
					    </div>
					</th>
				</tr>
			</tbody>
		</table>
		<pagination total-items="offerCount" ng-model="current_page" items-per-page='per_page' max-size='10' ng-change="filterOffers()"></pagination>
	</div>
</div>