<div class='container'>
    <div class='col-xs-12'>
        <div>&nbsp;</div>
        <a class='btn btn-default' ui-sref='^.offers_manage'>Go Back</a> &nbsp;&nbsp;
        <p> </p>
    </div>
    <div class='clearfix'></div>
    <div class='panel panel-default'>
        <div class='panel-heading'>Offer Basics</div>
        <div class='panel-body'>
            <div class='col-md-6'>
                <h1>{{offer.actions.reward.header}}</h1>
                <h3>{{offer.actions.reward.line1}}</h3>
                <h3>{{offer.actions.reward.line2}}</h3>
                <textarea class='form-control' ng-model='offer.actions.reward.description' disabled style='resize:none;overflow:auto;'></textarea>
                <br />
                <textarea class='form-control' rows='6' style='resize:none;overflow:auto;' disabled ng-model='offer.actions.reward.terms'></textarea>
                <div class='pull-left'>
                    <div>Lapse Duration</div>
                    <span class='label label-success'>{{offer.offer_lapse_days}} days</span>
                </div>
                <div class='pull-right'>
                    <div>Expiration Duration</div>
                    <span class='label label-success'>{{offer.offer_valid_days}} days</span>
                </div>
            </div>
            <div class='col-md-6'>
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="offer.offer_status" ng-change='updateOfferStatus(offer)' btn-radio="'active'">Active</label>
                    <label class="btn btn-primary" ng-model="offer.offer_status" ng-change='updateOfferStatus(offer)' btn-radio="'draft'">Draft</label>
                    <label class="btn btn-primary" ng-model="offer.offer_status" ng-change='updateOfferStatus(offer)' btn-radio="'archived'">Archived</label>
                </div>
                <h4>Offer Type: 
                    <span class='label label-primary'>{{offer_types[offer.offer_type]}}</span>
                </h4>
                <div>
                    <h4>Validity</h4>
                    <span class='label label-info'>{{offer.offer_start_date | date: longDate}}</span> to <span class='label label-info'>{{offer.offer_end_date | date: longDate}}</span>
                </div>
                <div>
                    <h4>Reward Type</h4>
                    <span class='label label-default'>{{reward_types[offer.actions.reward.reward_meta.reward_type]}}</div>
            <div>
              <h4>Reward Info</h4>
              <div ng-if='offer.actions.reward.reward_meta.reward_type=="buyonegetone"'>Buy one <span class='label label-success'>{{offer.actions.reward.reward_meta.bogo}}</span> get another free.</div>
                <div ng-if='offer.actions.reward.reward_meta.reward_type=="discount"'>Get <span class='label label-success'>{{offer.actions.reward.reward_meta.percent + '%'}}</span> for a max discount of upto <span class='label label-success'>{{'Rs.' + offer.actions.reward.reward_meta.max}}</span></div>
                <div ng-if='offer.actions.reward.reward_meta.reward_type=="flatoff"'>Get <span class='label label-success'>{{'Rs.' + offer.actions.reward.reward_meta.off}}</span> on a minimum spend of <span class='label label-success'>{{'Rs.' + offer.actions.reward.reward_meta.spend}}</span></div>
                <div ng-if='offer.actions.reward.reward_meta.reward_type=="free"'>Get <span class='label label-success'>{{offer.actions.reward.reward_meta.title}}</span> free with <span class='label label-success'>{{ offer.actions.reward.reward_meta._with}}</span></div>
                <div ng-if='offer.actions.reward.reward_meta.reward_type=="happyhours"'>Happy hours extended by <span class='label label-success'>{{offer.actions.reward.reward_meta.extension + 'hr(s)'}}</span></div>
                <div ng-if='offer.actions.reward.reward_meta.reward_type=="reduced"'>Get <span class='label label-success'>{{offer.actions.reward.reward_meta.what}}</span> worth <span class='label label-success'>{{'Rs.' + offer.actions.reward.reward_meta.worth}}</span> for just <span class='label label-success'>{{'Rs.' + offer.actions.reward.reward_meta.for_what}}</span></div>
                <div ng-if='offer.actions.reward.reward_meta.reward_type=="custom"'>
                    <label class='control-label'>{{offer.actions.reward.reward_meta.title}}</label>
                </div>
                <div ng-if='offer.actions.reward.reward_meta.reward_type=="unlimited"'>Unlimited <span class='label label-success'>{{offer.actions.reward.reward_meta.item}}</span> for <span class='label label-success'>{{'Rs.' + offer.actions.reward.reward_meta.conditions}}</span></div>
                <div ng-if='offer.actions.reward.reward_meta.reward_type=="onlyhappyhours"'>During happy hours get <span class='label label-success'>{{offer.actions.reward.reward_meta.title}}</span> on <span class='label label-success'>{{offer.actions.reward.reward_meta.conditions}}</span></div>
                <div ng-if='offer.actions.reward.reward_meta.reward_type=="combo"'>Combo of <span class='label label-default'>{{offer.actions.reward.reward_meta.items}}</span> for just <span class='label label-default'>{{'Rs.' + offer.actions.reward.reward_meta._for}}</span></div>
                <div ng-if='offer.actions.reward.reward_meta.reward_type=="buffet"'>Buffet <span class='label label-success'>{{offer.actions.reward.reward_meta.title}}</span> at <span class='label label-success'>{{'Rs.' + offer.actions.reward.reward_meta.cost}}</span></div>
            </div>
            <div ng-if='offer.offer_type=="checkin"'>
                <h4>Offer Rules</h4>
                <div ng-if='offer.rule.event_match=="on every"'>Application on every <span class='label label-success'>{{offer.rule.event_count + ((offer.rule.event_count==1)? 'st': (offer.rule.event_count==2)? 'nd': (offer.rule.event_count==3)? 'rd': 'th')}}</span> checkin from <span class='label label-success'>{{offer.rule.event_start + ((offer.rule.event_start==1)? 'st': (offer.rule.event_start==2)? 'nd': (offer.rule.event_start==3)? 'rd': 'th')}}</span> to <span class='label label-success'>{{offer.rule.event_end + ((offer.rule.event_end==1)? 'st': (offer.rule.event_end==2)? 'nd': (offer.rule.event_end==3)? 'rd': 'th')}}</span> checkin</div>
                <div ng-if='offer.rule.event_match=="after"'>Application on every checkin starts from <span class='label label-success'>{{offer.rule.event_start + ((offer.rule.event_start==1)? 'st': (offer.rule.event_start==2)? 'nd': (offer.rule.event_start==3)? 'rd': 'th')}}</span> to <span class='label label-success'>{{offer.rule.event_end + ((offer.rule.event_end==1)? 'st': (offer.rule.event_end==2)? 'nd': (offer.rule.event_end==3)? 'rd': 'th')}}</span> checkin.</div>
                <div ng-if='offer.rule.event_match=="on only"'>Application on the <span class='label label-success'>{{offer.rule.event_count + ((offer.rule.event_count==1)? 'st': (offer.rule.event_count==2)? 'nd': (offer.rule.event_count==3)? 'rd': 'th')}}</span> checkin.</div>
            </div>
            <div>
                <h4>Applicable on: </h4>
                <span ng-if='offer.actions.reward.applicability.dine_in' class='label label-success'>Dine in</span>
                <span ng-if='offer.actions.reward.applicability.delivery' class='label label-success'>Delivery</span>
            </div>
            <div ng-if='offer.offer_type=="checkin" || offer.offer_type=="offer"'>
                <h4>Minimum Bill 
                    <span class='label label-success'>Rs.{{offer.minimum_bill_value}}</span>
                </h4>
            </div>
            <div ng-if='offer.offer_type=="offer"'>
                <h4>Offer Cost 
                    <span class='label label-success'>{{offer.offer_cost}}</span> Twyst Bucks
                </h4>
            </div>
            <div ng-if='offer.offer_type=="bank_deal"'>
                <h4>Deal Source 
                    <span class='label label-info'>{{offer_sources[offer.offer_source]}}</span>
                </h4>
            </div>
        </div>
    </div>
</div>
<br />
<div class='panel panel-default'>
    <div class='panel-heading'>Timings & Availability</div>
    <div class='panel-body'>
        <div class='col-md-6'>
            <h3>Timings</h3>
            <div class='row' ng-repeat='day in days'>
                <h4>{{day | uppercase}}</h4>
                <span class='label label-warning' ng-if='offer.actions.reward.reward_hours[day].closed'>Closed</span>
                <span class='label label-success' ng-if='!offer.actions.reward.reward_hours[day].closed'>Open</span>
                <span ng-repeat='timing in offer.actions.reward.reward_hours[day].timings' style='margin-left:10px;margin-right:10px;'>
                    <span class='label label-primary'>{{timing.open.time | date: 'hh:mm a'}}</span> to <span class='label label-primary'>{{timing.close.time | date: 'hh:mm a'}}</span>
                </span>
            </div>
        </div>
        <div class='col-md-6'>
            <h4>Outlets Where Available</h4>
            <ul class='list-group' ng-if='offer.offer_outlets.length'>
                <li class='list-group-item' ng-repeat='outlet in offer.offer_outlets track by $index'>{{outlets[outlet].basics.name}}, {{outlets[outlet].contact.location.locality_1[0]}}, {{outlets[outlet].contact.location.locality_2[0]}}</li>
            </ul>
        </div>
    </div>
</div>
</div>
