<div class='col-xs-12 col-sm-10 col-sm-offset-1' ng-init='loadMerchants()'>
	<div class='panel panel-default table-responsive'>
		
		<div class='panel-body'>
			<ul >
				<li class='pull-left'>
					<input type='text' placeholder='Search...' ng-model='merchantFilter' ng-change='filterMerchants(true)' typeahead="outlet.basics.name for outlet in merchants">
				</li>
				<li class='pull-right'>
					<a class='btn btn-default' ui-sref='console.register_merchant'>Create New</a>
				</li>
				
			</ul>
		</div>
		
		
	</div>
</div>