<div layout="column" layout-fill>
  <div ng-include="'./partials/home/home.header.html'"></div>
  <md-content ng-init="signed_in()">
    <div layout="row">
      <div flex offset="50">
        <md-card>
          <md-card-content>
            <md-tabs md-border-bottom>
              <md-tab label="Sign in">
                <div ng-include="'./partials/home/signin.tmpl.html'"></div>
              </md-tab>
              <md-tab label="Register with Twyst">
                <div ng-include="'./partials/home/register.tmpl.html'"></div>
              </md-tab>
            </md-tabs>
          </md-card-content>
        </md-card>
      </div>
      <div flex="10"></div>
    </div>
  </md-content>
</div>
