<div layout="row" layout-sm="column" layout-padding layout-margin>
  <md-input-container>
    <label>Your Name</label>
    <input ng-model="user.title" type="email">
  </md-input-container>
  <md-input-container>
    <label>Your Phone</label>
    <input ng-model="user.email" type="password">
  </md-input-container>
</div>
<div layout="row" layout-padding layout-margin>
  <md-input-container>
    <label>Outlet name</label>
    <input ng-model="user.title" type="email">
  </md-input-container>
  <md-input-container>
    <label>Your Email</label>
    <input ng-model="user.email" type="password">
  </md-input-container>
  <md-input-container>
    <md-button class="md-primary md-raised">Go!</md-button>
  </md-input-container>
</div>
