<div class='col-xs-12 col-sm-10 col-sm-offset-1' ng-init='getBills()'>
  <div class='panel panel-default table-responsive'>
    <div class='panel-heading'>
      <ol class='breadcrumb' style='margin-bottom:0;'>
        <li><a>Bills</a></li>
        <li class='active'>List</li>
      </ol>
    </div>
    <div class='panel-body'>
      <ul class='nav nav-pills nav-justified'>
        <li role='presentation' class='dropdown'>
          <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Sort By: {{sort_order[sort]}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
          	<li ng-repeat='(sort, text) in sort_order'><a ng-click='updateSortOrder(sort)'>{{text}}</a></li>
          </ul>
        </li>
        <li role='presentation' ng-repeat='(val, text) in view_options' ng-class='{"active": view_by==val}' ng-click='updateViewBy(val)'><a>{{text}}</a></li>
      </ul>
    </div>
    <table class='table table-striped table-hover'>
      <thead>
        <th>S.No.</th>
        <th>User ID</th>
        <th>Upload Date</th>
        <th>Status</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat='bill in bills' ui-sref='console.view_bill({bill_id: bill._id})' style='cursor:pointer;'>
          <td class='text-right'>{{$index+1}}</td>
          <td>{{bill.event_user}}</td>
          <td>{{bill.event_date | date: 'MMM dd, yyyy hh:mm a'}}</td>
          <td>{{bill.event_meta.status}}</td>
          <th><a class='btn'>View</a></th>
        </tr>
      </tbody>
    </table>
    <pagination total-items="totalItems" ng-model="currentPage" items-per-page='itemsPerPage' ng-change="getBills()"></pagination>
  </div>
</div>