<div>&nbsp;</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12' style='min-height:100vh;'>
            <section class='panel panel-default table-dynamic'>
                <div class='panel-heading'>
                    <strong><span class='glyphicon glyphicon-th'></span> Bills</strong>
                </div>
                <div class='table-filters'>
                    <div class='row'>
                        <div class='col-sm-4 col-xs-6'>
                            <form>
                                <input type='text' placeholder='Search...' class='form-control' ng-model='searchKeywords' ng-keyup='search()'>
                            </form>
                        </div>
                        <div class='col-sm-3 col-xs-6 filter-result-info'>
                            <span>
                                Showing {{filtered_bills.length}}/{{bills.length}} bills.
                            </span>
                        </div>
                    </div>
                </div>
                <table class='table table-bordered table-striped table-responsive'>
                    <thead>
                        <tr>
                            <th>
                                <div class='th'>
                                    S. No.
                                </div>
                            </th>
                            <th>
                                <div class='th'>
                                    User Phone
                                    <span class='fa fa-angle-up' ng-click='order("event_user.phone")' ng-class='{active: row === "event_user.phone"}'></span>
                                    <span class='fa fa-angle-down' ng-click='order("-event_user.phone")' ng-class='{active: row === "-event_user.phone"}'></span>
                                </div>
                            </th>
                            <th>
                                <div class='th'>
                                    Upload Date
                                    <span class='fa fa-angle-up' ng-click='order("event_date")' ng-class='{active: row === "event_date"}'></span>
                                    <span class='fa fa-angle-down' ng-click='order("-event_date")' ng-class='{active: row === "-event_date"}'></span>
                                </div>
                            </th>
                            <th>
                                <div class='th'>
                                    <select ng-model='view_status' ng-change='sort(view_status)' class='form-control' name='viewByStatus'>
                                        <option value='' ng-if='!view_status'>Status</option>
                                        <option value='' ng-if='view_status'>All</option>
                                        <option value='submitted'>Submitted</option>
                                        <option value='twyst_approved'>Twyst Approved</option>
                                        <option value='outlet_pending'>Outlet Pending</option>
                                        <option value='twyst_rejected'>Twyst Rejected</option>
                                        <option value='outlet_rejected'>Outlet Rejected</option>
                                        <option value='archived'>Archived</option>
                                    </select>
                                </div>
                            </th>
                            <th>
                                <div class='th'>
                                    Actions
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='bill in current_page_bills'>
                            <td>{{$index + 1}}</td>
                            <td>{{bill.event_user.phone}}</td>
                            <td>{{bill.event_date | date: 'MMM dd, yyyy hh:mm a'}}</td>
                            <td>
                                {{bill.event_meta.status}}
                            </td>
                            <th><a class='btn btn-link'>View</a></th>
                        </tr>
                    </tbody>
                </table>
                <footer class='table-footer'>
                    <div class='row'>
                        <div class='col-sm-6 page-num-info'>
                            <span>
                                Show
                                <select ng-model='numPerPage' ng-options='num for num in numPerPageOpt' ng-change='onNumPerPageChange()'></select>
                                entries per page
                            </span>
                        </div>
                        <div class='col-sm-6 text-right pagination-container'>
                            <pagination class='pagination-sm' ng-model='currentPage' total-items='filtered_bills.length' max-size='4' ng-change='select(currentPage)' items-per-page='numPerPage' rotate='false' previous-text="&lsaquo;" next-text="&rsaquo;" boundary-links='true'></pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>
