<div class='col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <ol class='breadcrumb'>
        <li><a ui-sref='console.bills'>Bills</a></li>
        <li class='active'>{{bill._id}}</li>
      </ol>
    </div>
    <div class='panel-body'>
      <div class='col-xs-12'>
        <div class='col-sm-6'>
          <img ng-src='{{bill.image}}' style='max-width:100%;height:auto;'>
        </div>
        <div class='col-sm-6'>
          <div class='row'><div class='col-xs-6'>Upload Date:</div><label class='col-xs-6 text-right'>{{bill.uploaded_on | date: 'MMM dd, yyyy'}}</label></div>
          <div class='row'><div class='col-xs-6'>User ID:</div><label class='col-xs-6 text-right'>{{bill.user}}</label></div>
          <div class='row'><div class='col-xs-6'>User Phone:</div><label class='col-xs-6 text-right'>{{bill.phone}}</label></div>
          <div class='row'><div class='col-xs-6'>User Email:</div><label class='col-xs-6 text-right'>{{bill.email}}</label></div>
          <div class='row'><p>&nbsp;</p></div>
          <div class='row'>
            <label for='is_image_clear' class='control-label'>Clear, complete, non-manipulated image?</label>
            <div class='pull-right'>
              <a class='btn btn-primary'>YES</a>
              <a class='btn btn-default'>NO</a>
            </div>
          </div>
          <div class='row'>
            <label for='is_image_bill' class='control-label'>Image of a bill?</label>
            <div class='pull-right'>
              <a class='btn btn-primary'>YES</a>
              <a class='btn btn-default'>NO</a>
            </div>
          </div>
          <div class='row'>
            <label for='is_outlet_listed' class='control-label'>Outlet listed on Twyst</label>
            <div class='pull-right'>
              <a class='btn btn-primary'>YES</a>
              <a class='btn btn-default'>NO</a>
            </div>
          </div>
        </div>
      </div>
      <div class='col-xs-12'><p>&nbsp;</p></div>
      <div class='col-xs-12 form-horizontal'>
        <legend>Bill Specifics</legend>
        <div class='form-group'>
          <label for='merchant_name' class='col-md-3'><span class='glyphicon gi-lg glyphicon-user'></span> Merchant Name:</label>
          <div class='col-md-8'>
            <input type='text' class='form-control' ng-model='bill.merchant'>
          </div>
        </div>
        <div class='form-group'>
          <label for='outlet_name' class='col-md-3'><span class='glyphicon gi-lg glyphicon-home'></span> Outlet Name:</label>
          <div class='col-md-8'>
            <input type='text' class='form-control' ng-model='bill.outlet_name'>
          </div>
        </div>
        <div class='form-group'>
          <label for='outlet_location' class='col-md-3'><span class='glyphicon gi-lg glyphicon-map-marker'></span> Outlet Location:</label>
          <div class='col-md-8'>
            <input type='text' class='form-control' ng-model='bill.outlet_location'>
          </div>
        </div>
        <div class='form-group'>
          <label for='bill_number' class='col-md-3'><span class='glyphicon gi-lg glyphicon-list-alt'></span> Bill Number:</label>
          <div class='col-md-8'>
            <input type='text' class='form-control' ng-model='bill.bill_number'>
          </div>
        </div>
        <div class='form-group'>
          <label for='bill_date' class='col-md-3'><span class='glyphicon gi-lg glyphicon-calendar'></span> Bill Date</label>
          <div class='col-md-8'>
            <input type='date' class='form-control' ng-model='bill.bill_date'>
          </div>
        </div>
        <div class='form-group'>
          <label for='bill_time' class='col-md-3'><span class='glyphicon gi-lg glyphicon-time'></span> Bill Time</label>
          <div class='col-md-8'>
            <input type='time' class='form-control' ng-model='bill.bill_date'> 
          </div>
        </div>
        <div class='form-group'>
          <label for='bill_amount' class='col-md-3'><span class='glyphicon gi-lg glyphicon-piggy-bank'></span> Bill Amount</label>
          <div class='col-md-8'>
            <input type='number' class='form-control' ng-model='bill.bill_amount'>
          </div>
        </div>
        <div class='form-group'>
          <div class='col-md-8 col-md-offset-3'>
            <button class='btn btn-primary pull-right'>Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='panel panel-primary'>
    <div class='panel-heading'>
      <h3 class='panel-title'>Redemptions Pending Bills</h3>
    </div>
    <table class='table table-stripped table-hover'>
      <thead>
        <tr>
          <th>S. No.</th>
          <th>Offer ID</th>
          <th>Offer</th>
          <th>Date</th>
          <th>Time</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='item in pending_redeems'>
          <td>{{$index +1}}</td>
          <td>{{item.coupon_group}}</td>
          <td>{{item.offer.header}}, {{item.offer.line1}}, {{item.offer.line2}}</td>
          <td>{{item.used_details.used_time}}</td>
          <td><a class='btn btn-primary'>Link</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>