<div>
  <wizard on-finish="finishedWizard()">
    <wz-step title="Basic information">
      <form>
      	<legend>Basic information</legend>
      
      	<div class="form-group">
      		<label for="">Outlet name</label>
      		<input type="text" class="form-control" id="" placeholder="Name of the outlet">
      	</div>
      	
      	<div class="form-group">
      		<label for="input-id">Address</label>
      		<textarea name="" id="input" class="form-control" rows="3" required="required"></textarea>
      	</div>

      	<button type="submit" class="btn btn-primary" wz-next>Next</button>
      </form>
    </wz-step>
    <wz-step title="Attributes">
      <h1>Continuing</h1>
      <p>You have continued here!</p>
      <input type="submit" wz-next value="Go on" />
    </wz-step>
    <wz-step title="Photos">
      <p>Even more steps!!</p>
      <input type="submit" wz-next value="Finish now" />
    </wz-step>
    <wz-step title="Offers">
      <p>Even more steps!!</p>
      <input type="submit" wz-next value="Finish now" />
    </wz-step>
    <wz-step title="Review and Save">
      <p>Even more steps!!</p>
      <input type="submit" wz-next value="Finish now" />
    </wz-step>
  </wizard>
</div>
