<div ng-include="'templates/partials/header_in.html'"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 border-right">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#">Manage outlets</a></li>
        <li role="presentation"><a href="#">View analytics</a></li>
        <li role="presentation"><a href="#">Control panel</a></li>
        <li role="presentation"><a href="#">Manage profile</a></li>
      </ul>
    </div>
  </div>
</div>
