<div ng-init="get_outlets()">
  <div ng-show="outlets.length">
    <div class="well">
      <p>You have created {{outlets.length}} outlet(s).</p>
      <button class="btn btn-info" ng-click="new_outlet()">Create more outlets!</button>
    </div>
    <div class="row" ng-repeat="rows in chunkedOutlets">
      <div class="col-md-4" ng-repeat="outlet in rows">
        <div class="panel panel-info">
          <div class="panel-heading">{{outlet.basics.name}}</div>
          <div class="panel-body">
            <p>{{outlet.contact.location.address}}</p>
          </div>
          <div class="panel-footer">
            <button class="btn btn-link" ng-click="view_outlet($index, $parent.$index)">View</button>
            <button class="btn btn-link">Edit</button>
            <button class="btn btn-link">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-hide="outlets.length">
    <div class="well">
      <p>You haven't yet created any outlets.</p>
      <button class="btn btn-info">Create your first outlet!</button>
    </div>
  </div>
</div>
