<div class='col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2' ng-init='get_offers()'>
  <div class='well well-lg'>
    <legend ng-if='offers.checkin.length || offers.offer.length || offers.deal.length || offers.bank_deal.length'>Create More Offers</legend>
    <legend ng-if='!offers.checkin.length && !offers.offer.length && !offers.deal.length && !offers.bank_deal.length'>Create Your First Offer</legend>
    <div class='form-group'>
      <button class='btn btn-primary' ui-sref='merchant.create_offer'>Create Offer</button>
    </div>
  </div>
  <div class='well well-lg' ng-if='isPaying'>
    <legend>Check-In</legend>
    <div class='row' ng-if='offers.checkin.length'>
      <div class='col-md-4' ng-repeat='offer in offers.checkin'>
        <div class='panel panel-primary'>
          <div class='panel-heading'>{{offer.actions.reward.header}}</div>
          <div class='panel-body' style='min-height:110px;'>
            <p> {{offer.actions.reward.line1}} </p>
            <p> {{offer.actions.reward.line2}} </p>
          </div>
          <div class="panel-footer">
            <a class="btn btn-link" ui-sref='merchant.view_offer({offer_id: offer._id })'>View</a>
            <a class="btn btn-link" ui-sref='merchant.edit_offer({offer_id: offer._id })'>Update</a>
            <a class="btn btn-link" ng-click='removeOffer(offer._id)'>Delete</a>
          </div>
          <div clss='clearfix'></div>
        </div>
      </div>
    </div>
    <div class='alert alert-warning' ng-if='!offers.checkin.length'>
      <b>No offers exist in this section</b>
    </div>
    <div class='clearfix'></div>
  </div>
  <div class='well well-lg' ng-if='isPaying'>
    <legend>Promoted Offer</legend>
    <div class='row'>
      <div class='col-md-4' ng-repeat='offer in offers.offer'>
        <div class='panel panel-primary'>
          <div class='panel-heading'>{{offer.actions.reward.header}}</div>
          <div class='panel-body' style='min-height:110px;'>
            <p> {{offer.actions.reward.line1}} </p>
            <p> {{offer.actions.reward.line2}} </p>
          </div>
          <div class="panel-footer">
            <a class="btn btn-link" ui-sref='merchant.view_offer({offer_id: offer._id })'>View</a>
            <a class="btn btn-link" ui-sref='merchant.edit_offer({offer_id: offer._id })'>Update</a>
            <a class="btn btn-link" ng-click='removeOffer(offer._if)'>Delete</a>
          </div>
          <div clss='clearfix'></div>
        </div>
      </div>
    </div>
    <div class='alert alert-warning' ng-if='!offers.offer.length'>
      <b>No offers exist in this section</b>
    </div>
  </div>
  <div class='well well-lg'>
    <legend>Deal</legend>
    <div class='row'>
      <div class='col-md-4' ng-repeat='offer in offers.deal'>
        <div class='panel panel-primary'>
          <div class='panel-heading'>{{offer.actions.reward.header}}</div>
          <div class='panel-body' style='min-height:110px;'>
            <p> {{offer.actions.reward.line1}} </p>
            <p> {{offer.actions.reward.line2}} </p>
          </div>
          <div class="panel-footer">
            <a class="btn btn-link" ui-sref='merchant.view_offer({offer_id: offer._id })'>View</a>
            <a class="btn btn-link" ui-sref='merchant.edit_offer({offer_id: offer._id })'>Update</a>
            <a class="btn btn-link" ng-click='removeOffer(offer._id)'>Delete</a>
          </div>
          <div clss='clearfix'></div>
        </div>
      </div>
    </div>
    <div class='alert alert-warning' ng-if='!offers.deal.length'>
      <b>No offers exist in this section</b>
    </div>
  </div>
  <div class='well well-lg'>
    <legend>Bank Deals</legend>
    <div class='row'>
      <div class='col-md-4' ng-repeat='offer in offers.bank_deal'>
        <div class='panel panel-primary'>
          <div class='panel-heading'>{{offer.actions.reward.header}}</div>
          <div class='panel-body' style='min-height:110px;'>
            <p> {{offer.actions.reward.line1}} </p>
            <p> {{offer.actions.reward.line2}} </p>
          </div>
          <div class="panel-footer">
            <a class="btn btn-link" ui-sref='merchant.view_offer({offer_id: offer._id })'>View</a>
            <a class="btn btn-link" ui-sref='merchant.edit_offer({offer_id: offer._id })'>Update</a>
            <a class="btn btn-link" ng-click='removeOffer(offer._id)'>Delete</a>
          </div>
          <div clss='clearfix'></div>
        </div>
      </div>
    </div>
    <div class='alert alert-warning' ng-if='!offers.bank_deal.length'>
      <b>No offers exist in this section</b>
    </div>
  </div>
</div>