<div>&nbsp;</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-12'>
            <button type='button' class='btn btn-w-sm btn-gap-v btn-direction btn-left btn-danger' ui-sref='^.offers_manage'>Go Back</button> &nbsp;&nbsp;
            <button type="button" class="btn btn-w-sm btn-gap-v btn-direction btn-right btn-primary" ui-sref='^.offers_edit({offer_id: offer._id})'>Update Offer</button>
            <div class='clearfix'></div>
            <div class='panel panel-default'>
                <div class='panel-heading'>Offer Basics</div>
                <div class='panel-body'>
                    <div class='col-sm-6'>
                        <h2>{{offer.actions.reward.header}}</h2>
                        <h4>{{offer.actions.reward.line1}}</h4>
                        <h4 ng-if='offer.actions.reward.line2'>{{offer.actions.reward.line2}}</h4>
                        <textarea class='form-control' ng-if='offer.actions.reward.description' ng-model='offer.actions.reward.description' disabled></textarea>
                        <textarea class='form-control' ng-if='offer.actions.reward.terms' ng-model='offer.actions.reward.terms' disabled></textarea>
                        <div class='clearfix'></div>
                        <p>&nbsp;</p>
                        <div class='pull-left'>Lapse Duration <span class='label label-primary'>{{offer.offer_lapse_days}} days</span></div>
                        <div class='pull-right'>Expire Duration <span class='label label-primary'>{{offer.offer_valid_days}} days</span></div>
                    </div>
                    <div class='col-sm-6'>
                        <h4>Offer Type: <span class='label label-primary'>{{offer_types[offer.offer_type]}}</span></h4>
                        <div>
                            <h4>Validity</h4>
                            <span class='label label-default'>{{offer.offer_start_date | date:longDate}}</span> to <span class='label label-default'>{{offer.offer_end_date | date:longDate}}</span>
                        </div>
                        <div>
                            <h4>Reward Type</h4>
                            <span class='label label-default'>{{reward_types[offer.actions.reward.reward_type]}}</span>
                        </div>
                        <div>
                            <h4>Reward Info</h4>
                            <div ng-if='offer.actions.reward.reward_meta.reward_type==="discount"'>
                                Get
                                <span class='label label-success'>{{offer.actions.reward.reward_meta.percent + '%'}}</span> for a maximum discount of upto <span class='label label-success'><i class='fa fa-inr'></i> {{offer.actions.reward.reward_meta.max}}</span>
                            </div>
                            <div ng-if='ofer.actions.reward.reward_meta.reward_type==="flatoff"'>
                                Get
                                <span class='label label-success'><i class='fa fa-inr'></i> {{offer.actions.reward.reward_meta.off}}</span> on a minimum spend of <span class='laebl label-success'><i class='fa fa-inr'></i> {{offer.actions.reward.reward_meta.spend}}</span>
                            </div>
                            <div ng-if='offer.actions.reward.reward_meta.reward_type==="free"'>
                                Free reward info here
                            </div>
                            <div nf-ig='offer.actions.reward.reward_meta.reward_type==="buyxgety"'>
                                Buy X Get Y info here
                            </div>
                        </div>
                        <div ng-if='offer.offer_type==="checkin"'>
                            <h4>Offer Rules</h4>
                            <div ng-if='offer.rule.event_match==="on every"'>
                                Applicable on every <span class='label label-success'>{{offer.rule.event_count + ((offer.rule.event_count==1)? 'st': (offer.rule.event_count==2)? 'nd': (offer.rule.event_count==3)? 'rd': 'th')}}</span> checkin from <span class='label label-success'>{{offer.rule.event_start + ((offer.rule.event_start==1)? 'st': (offer.rule.event_start==2)? 'nd': (offer.rule.event_start==3)? 'rd': 'th')}}</span> to <span class='label label-success'>{{offer.rule.event_end + ((offer.rule.event_end==1)? 'st': (offer.rule.event_end==2)? 'nd': (offer.rule.event_end==3)? 'rd': 'th')}}</span> checkin.
                            </div>
                            <div ng-if='offer.rule.event_match==="after"'>
                                Applicable on every checkin from <span class='label label-success'>{{offer.rule.event_start + ((offer.rule.event_start==1)? 'st': (offer.rule.event_start==2)? 'nd': (offer.rule.event_start==3)? 'rd': 'th')}}</span> uptil <span class='label label-success'>{{offer.rule.event_end + ((offer.rule.event_end==1)? 'st': (offer.rule.event_end==2)? 'nd': (offer.rule.event_end==3)? 'rd': 'th')}}</span> checkin.
                            </div>
                            <div ng-if='offer.rule.event_match==="on only"'>
                                Application on the <span class='label label-success'>{{offer.rule.event_count + ((offer.rule.event_count==1)? 'st': (offer.rule.event_count==2)? 'nd': (offer.rule.event_count==3)? 'rd': 'th')}}</span> checkin.
                            </div>
                        </div>
                        <div>
                            <h4>Applicable on: </h4>
                            <span ng-if='offer.actions.reward.reward_meta.dine_in' class='label label-success'>Dine In</span>
                            <span ng-if='offer.actions.reward.reward_meta.delivery' class='label label-success'>Delivery</span>
                        </div>
                        <div>
                            <h4>Applicable on: </h4>
                            <span ng-if='offer.actions.reward.applicability.dine_in' class='label label-success'>Dine in</span>
                            <span ng-if='offer.actions.reward.applicability.delivery' class='label label-success'>Delivery</span>
                        </div>
                        <div>
                            <h4>Minimum Bill <span class='label label-success'>Rs.{{offer.minimum_bill_value}}</span></h4>
                        </div>
                        <div ng-if='offer.offer_type=="offer"'>
                            <h4>Offer Cost <span class='label label-success'>{{offer.offer_cost}}</span> Twyst Bucks</h4>
                        </div>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class='panel panel-default'>
                <div class='panel-heading'>Timing & Availability</div>
                <div class='panel-body'>
                    <div class='col-sm-6'>
                        <h3>Timings</h3>
                        <div class='row' ng-repeat='day in days'>
                            <h4>{{day | uppercase}}</h4>
                            <span class='label label-warning' ng-if='offer.actions.reward.reward_hours[day].closed'>Closed</span>
                            <span class='label label-success' ng-if='!offer.actions.reward.reward_hours[day].closed'>Open</span>
                            <span ng-repeat='timing in offer.actions.reward.reward_hours[day].timings' style='margin-left:10px;margin-right:10px;'><span class='label label-primary'>{{timing.open.time | date: 'hh:mm a'}}</span> to <span class='label label-primary'>{{timing.close.time | date: 'hh:mm a'}}</span></span>
                        </div>
                    </div>
                    <div class='col-sm-6'>
                        <h4>Outlets where Available</h4>
                        <ul class='list-group inverse'>
                            <li class='list-group-item list-group-item-info' ng-repeat='outlet in offer.offer_outlets track by $index'>
                                {{outlets[outlet].basics.name}}, {{outlets[outlet].contact.location.locality_1[0]}}, {{outlets[outlet].contact.location.locality_2[0]}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
