<md-dialog aria-label="Forgot password">
  <form>
    <md-dialog-content class="sticky-container">
      <md-card>
        <md-card-content>
          <md-subhead class="md-headline">Enter your email</md-subhead>
          <div layout="row">
            <p class="md-body-1">We'll send you instructions on how to reset your password</p>
          </div>
          <div layout="row" layout-sm="column">
            <md-input-container>
              <label>Email</label>
              <input ng-model="user.title" type="email">
            </md-input-container>
            <md-input-container>
              <md-button class="md-warn md-raised">Reset</md-button>
            </md-input-container>
          </div>
        </md-card-content>
      </md-card>
    </md-dialog-content>
  </form>
</md-dialog>
