<div class='container-fluid'>
	<h1>Control Panel Home</h1>
	<div class='row'>
		<div class='col-xs-12 col-md-8'>
			<div class='row'>
				<div class='col-xs-12 col-md-6'>
					<div class='well'>
						<legend>Outlet
							<select class='form-control' ng-model='choosen_outlet' ng-change='resetForms()'>
								<option ng-repeat='outlet in outlets' value='{{outlet._id}}'>{{outlet.basics.name + (outlet.contact.location.locality_1[0]?"," + outlet.contact.location.locality_1[0]: '') + (outlet.contact.location.locality_2[0]?"," + outlet.contact.location.locality_2[0]: '')}}
							</select>
						</legend>
						<h3>{{outlets[choosen_outlet].basics.name}}</h3>
						<h4>{{(outlets[choosen_outlet].contact.location.locality_1[0]?outlets[choosen_outlet].contact.location.locality_1[0] + ",": '') + (outlets[choosen_outlet].contact.location.locality_2[0]?outlets[choosen_outlet].contact.location.locality_2[0]: '')}}</h4>
					</div>
					<div class='well'>
						<legend>Check-in a User</legend>
						<div class='form-group'>
							<label for='checkin_date' class='col-xs-6 control-label'>Checkin date</label>
							<div class='col-xs-6'>
								<input type='text' datepicker-popup="MM/dd/yyyy" show-button-bar='false' min-date='minDate' max-date='maxDate' is-open="date_open" ng-click="date_open = true" class='form-control' ng-model='checkin.date'>
							</div>
							<p>&nbsp;</p>
							<div class='input-group'>
								<input type='text' ng-model='checkin.number' class='form-control' placeholder='10 digit mobile number'>
								<div class='input-group-btn'>
									<a class='btn btn-primary' ng-click='checkinUser()'>Checkin</a>
								</div>
							</div>
						</div>
					</div>
					<div class='well'>
						<legend>Find vouchers by code</legend>
						<div class='input-group'>
							<input type='text' class='form-control' ng-model='search.code' placeholder='Voucher code'>
							<div class='input-group-btn'>
								<a class='btn btn-primary' ng-click='getVoucherByCode()'>Search</a>
							</div>
						</div>
					</div>
					<div class='well'>
						<legend>Find vouchers by phone number</legend>
						<div class='input-group'>
							<input type='text' class='form-control' ng-model='search.number' placeholder='10 digit mobile number'>
							<div class='input-group-btn'>
								<a class='btn btn-primary' ng-click='getVouchersByPhone()'>Search</a>
							</div>
						</div>
					</div>
				</div>
				<div class='col-xs-12 col-md-6 jumbotron'>
					<div ng-if='show_msg' class='alert alert-warning'>
						<h4>No matching  coupon found</h4>
					</div>
					<div ng-if='show_vouchers'>
						
						<div class='col-xs-12 well well-lg' ng-repeat='voucher in user_vouchers'>
							<legend>{{voucher.code}}</legend>
							<legend>{{voucher.coupon_code}}</legend>
							<h2>{{voucher.header}}</h2>
							<h4>{{voucher.line1}}</h4>
							<h4>{{voucher.line2}}</h4>
							<h4 class='pull-right'><span class='glyphicon glyphicon-user'></span>{{voucher.phone}}</h4>
							<div class='clearfix'></div>
							<hr>
							<div class='text-center'>
								<a class='btn btn-block btn-primary' ng-click='redeemUserCoupon(voucher.code)'>Redeem</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='col-xs-12 col-md-4'>
			<legend>Notifications</legend>
		</div>
	</div>
</div>
<!-- <div class='container'>
	<h2>Control Panel Home</h2>
</div> -->