<div class='container-fluid'>
	<div class='row'>
		<div class='col-xs-12 col-md-8'>
			<div class='row'>
				<div class='col-xs-12'>
					<div class='well'>
						<legend>Outlet
							<select class='form-control' ng-model='choosen_outlet' ng-change='resetForms()'>
								<option ng-repeat='outlet in outlets' value='{{outlet._id}}'>{{outlet.basics.name + (outlet.contact.location.locality_1[0]?"," + outlet.contact.location.locality_1[0]: '') + (outlet.contact.location.locality_2[0]?"," + outlet.contact.location.locality_2[0]: '')}}
							</select>
						</legend>
						<!-- <h3>{{outlets[choosen_outlet].basics.name}}</h3>
						<h4>{{(outlets[choosen_outlet].contact.location.locality_1[0]?outlets[choosen_outlet].contact.location.locality_1[0] + ",": '') + (outlets[choosen_outlet].contact.location.locality_2[0]?outlets[choosen_outlet].contact.location.locality_2[0]: '')}}</h4> -->
					</div>
				</div>
				<div class='col-xs-12 col-sm-4'>
					<div class='well' style='min-height: 176px;'>
						<label>Check-in a User</label>
						<div class='form-group'>
							<div class='input-group'>
								<input type='text' ng-model='checkin.number' class='form-control' placeholder='10 digit mobile number'>
								<div class='input-group-btn'>
									<a class='btn btn-primary' ng-click='checkinUser()'>Checkin</a>
								</div>
							</div>
							<div>&nbsp;</div>
							<div class='input-group'>
								<div class='input-group-addon'>Date</div>
								<input type='text' datepicker-popup="MM/dd/yyyy" show-button-bar='false' min-date='minDate' max-date='maxDate' is-open="date_open" ng-click="date_open = true" class='form-control' ng-model='checkin.date'>
							</div>
						</div>
					</div>
				</div>
				<div class='col-xs-12 col-sm-4'>
					<div class='well' style='min-height: 176px;'>
						<label>Find vouchers by code</label>
						<div class='input-group'>
							<input type='text' class='form-control' ng-model='search.code' placeholder='Voucher code'>
							<div class='input-group-btn'>
								<a class='btn btn-primary' ng-click='getVoucherByCode()'>Search</a>
							</div>
						</div>
					</div>
				</div>
				<div class='col-xs-12 col-sm-4'>
					<div class='well' style='min-height: 176px;'>
						<label>Find vouchers by phone number</label>
						<div class='input-group'>
							<input type='text' class='form-control' ng-model='search.number' placeholder='10 digit mobile number'>
							<div class='input-group-btn'>
								<a class='btn btn-primary' ng-click='getVouchersByPhone()'>Search</a>
							</div>
						</div>
					</div>
				</div>
				<div class='col-xs-12 jumbotron'>
					<div ng-if='show_msg' class='alert alert-warning'>
						<h4>No matching  coupon found</h4>
					</div>
					<div ng-if='show_vouchers'>
						
						<div class='col-xs-12 col-sm-6 col-lg-4 well well-lg' ng-repeat='voucher in user_vouchers'>
							<legend>{{voucher.code}}</legend>
							<legend>{{voucher.coupon_code}}</legend>
							<h2>{{voucher.header}}</h2>
							<h4>{{voucher.line1}}</h4>
							<h4>{{voucher.line2}}</h4>
							<h4 class='pull-right'><span class='glyphicon glyphicon-user'></span>{{voucher.phone}}</h4>
							<div class='clearfix'></div>
							<hr>
							<div class='text-center'>
								<a class='btn btn-block btn-primary' ng-click='redeemUserCoupon(voucher.code)' ng-if='voucher.status==="active" && voucher.lapse_date > today || voucher.status==="user_redeemed" && voucher.lapse_date > today'>Redeem</a>
							</div>
							<div class='text-center'>
								<a class='btn btn-block btn-primary' ng-click='redeemUserCoupon(voucher.code)' ng-if='voucher.status==="user_redeemed" && voucher.lapse_date > today'>User Redeemed</a>
							</div>
							<div class='text-center'>
								<a class='btn btn-block btn-warning' ng-if='voucher.lapse_date <= today && !voucher.used_details.used_time' disabled>Expired</a>
							</div>
							<div class='text-center'>
								<a class='btn btn-block btn-success' ng-if='voucher.lapse_date > today && voucher.status==="social_pool" && !voucher.used_details.used_time' disabled>Social Pool</a>
							</div>
							<div class='text-center'>
								<a class='btn btn-block btn-danger' ng-if=' voucher.status=="merchant_redeemed"' disabled>Merchant Redeemed</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class='col-xs-12 col-md-4' ng-init='retrieveNotifications()'>
			<legend>Notifications</legend>
			<div class='well well-lg'>
				
			</div>
		</div>
	</div>
</div>
<!-- <div class='container'>
	<h2>Control Panel Home</h2>
</div> -->