<div ng-include="'partials/console/create/outlet.info.tmpl.html'"></div>

<!-- <md-tabs md-dynamic-height>
  <md-tab label="Outlet information">
    <div ng-include="'partials/console/create/outlet.info.tmpl.html'"></div>
  </md-tab>
  <!-- <md-tab label="Add images"></md-tab>
  <md-tab label="Set up offers">
    <div ng-include="'partials/console/create/outlet.offers.tmpl.html'"></div>
  </md-tab>
  <md-tab label="Set up loyalty program">
    <div ng-include="'partials/console/create/outlet.loyalty.tmpl.html'"></div>
  </md-tab>
  <md-tab label="Add a menu">
    <div ng-include="'partials/console/create/outlet.menu.tmpl.html'"></div>
  </md-tab> -->
  <!-- <md-tab label="Review and save">
    <div ng-include="'partials/console/create/outlet.review.tmpl.html'"></div>
  </md-tab> -->
<!-- </md-tabs>  -->
