<div class='col-xs-12 col-sm-10 col-sm-offset-1' style='min-height:100vh;padding-bottom:50px;'>
    <div class='well well-lg'>
        <form class='form-horizontal'>
            <fieldset>
                <legend>Menu Basics</legend>
                <div class='form-group' ng-class='{"has-error": formFailure && !menu.menu_type}'>
                    <label for='menu_type' class='col-md-2 control-label'>Menu Type <span class='glyphicon glyphicon-asterisk glyphicon-sm'>
                    </span></label>
                    <div class='col-md-8'>
                        <input type='text' ng-model='menu.menu_type' typeahead='mType for mType in menu_types | filter:$viewValue | limitTo: 8' class='form-control'>
                    </div>
                </div>
                <div class='form-group' ng-class='{"has-error": formFailure && !menu.outlet}'>
                    <label for='outlet' class='col-md-2 control-label'>Outlet</label>
                    <div class='col-md-8'>
                        <select ui-select ng-model='menu.outlet' data-placeholder='Choose an outlet' class='form-control'>
                            <option value='' ng-if='!menu.outlet'>Choose an outlet</option>
                            <option value='{{outlet._id}}' ng-repeat='outlet in outlets'>{{outlet.basics.name}}, {{outlet.contact.location.locality_1[0]}} {{outlet.contact.location.locality_1[0]?', ':''}} {{outlet.contact.location.locality_2[0]}}</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class='well well-lg'>
        <h3>Menu Categories</h3>
        <div class='container-fluid'>
            <div class='col-sm-3'>
                <div class='row'>
                    <div class='col-sm-12'>
                        <button type='button' class='btn btn-sm btn-success pull-right' ng-click='addMenuCategory()'><i class='fa fa-sm fa-plus'></i> Add Category</button>
                    </div>
                    <div class='clearfix'></div>
                    <div>&nbsp</div>
                    <div class='col-sm-12'>
                        <ul class='list-group'>
                            <a type='button' class='list-group-item' ng-class='{active: $index===current_category}'} ng-repeat='menu_category in menu.menu_categories' ng-click='showCategory($index)'>{{menu_category.category_name}}
                                <i class='fa fa-chevron-right pull-right'></i></a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class='row'>
                    <div class='col-xs-12' ng-repeat='menu_category in menu.menu_categories' ng-if='current_category === $index'>
                        <div class='col-xs-12'>
                            <legend>{{menu_category.category_name}}
                                <button type='button' class='btn btn-sm btn-primary' ng-click='editCategory($index)'><i class='fa fa-pencil'></i> Edit Category</button>
                            </legend>
                        </div>
                        <div class='panel panel-default' ng-repeat='sub_category in menu_category.sub_categories'>
                            <div class='panel-heading'>
                                <h3>{{sub_category.sub_category_name}}
                                    <button type='button' class='btn btn-sm btn-success pull-right' ng-click='addItem(sub_category)'><i class='fa fa-plus'></i> Add Item</button>
                                    <button type='button' class='btn btn-sm btn-primary pull-right' ng-click='editSubCategory(menu_category, $index)'><i class='fa fa-pencil'></i> Edit Sub Category</button>
                                </h3>
                            </div>
                            <div class='panel-body'>
                                <div class='col-xs-12'>
                                    <div class='row'>
                                        <div class='alert alert-warning' ng-if='sub_category.items.length===0'>No items added yet</div>
                                        <ul class='list-group'>
                                            <li class='list-group-item' ng-repeat='item in sub_category.items' ng-click='showItem(item)' style='cursor:pointer;'>
                                                <h4 class='list-group-item-heading'>{{item.item_name}}
                                                    <button type='button' class='btn btn-xs btn-warning' ng-click='editItem(sub_category, $index)'><i class='fa fa-sm fa-pencil'></i> </button>
                                                </h4>
                                                <p class='list-group-item-text'>Base Cost: <i class='fa fa-inr'></i>{{item.item_cost}}.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xs-12'>
                            <button class='btn btn-sm btn-success' ng-click='addSubCategory($index)'><i class='fa fa-plus'></i> Add Sub-category</button>
                        </div>
                    </div>
                </div>
                <div class='row'>

                </div>
            </div>
            <div class='col-sm-3'>
                <div class='row'>
                    <div class='panel panel-primary' ng-if='visible_item.item_name'>
                        <div class='panel-heading'>
                            {{visible_item.item_name}} <i class='fa fa-inr'></i>{{visible_item.item_cost}}
                        </div>
                        <div class='panel-body'>
                            <label>{{visible_item.option_set_title}}</label>
                            <div ng-repeat='option in visible_item.option_set'>#{{$index + 1}}. {{option.option_set_value}} <i class='fa fa-inr'></i>{{option.option_set_cost}}
                                <div class='col-xs-12'>
                                    <div ng-repeat='sub_option in option.sub_options'>Sub Variance Group: {{sub_option.sub_option_title}}
                                        <div ng-repeat='sub_option_obj in sub_option.sub_option_set'>
                                            <p>{{sub_option_obj.sub_option_value}} <i class='fa fa-inr'></i>{{sub_option_obj.sub_option_cost}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='well well-lg'>
        <span class='button-group'>
            <button type='button' class='btn btn-primary' ng-click='createMenu()'> Create Menu</button>
        </span>
    </div>

    {{menu}}
    <script type='text/ng-template' id='menuCategoryTemplate.html'>
        <div class='modal-header'>
            <legend ng-if='is_new'>Add New Category</legend>
            <legend ng-if='!is_new'>Update Category</legend>
        </div>
        <div class='modal-body'>
            <div class='form-group'>
                <div class='col-xs-3 control-label'>Category Name</div>
                <div class='col-xs-6'>
                    <input type='text' ng-model='current_category.category_name' typeahead='mCategory for mCategory in menu_categories | filter:$viewValue | limitTo: 8' class='form-control'>
                </div>
            </div>
            <div class='clearfix'></div>
            <div class='form-group'>
                <button type='button' class='btn btn-primary' ng-click='resolveCategory()' ng-if='is_new'><i class='fa fa-plus'></i> Add</button>
                <button type='button' class='btn btn-primary' ng-click='resolveCategory()' ng-if='!is_new'> Update</button>
                <button type='button' class='btn btn-warning' ng-click='discardCategory()'>Discard</button>
            </div>
        </div>
    </script>
    <script type='text/ng-template' id='subCategoryTemplate.html'>
        <div class='model-header'>
            <legend ng-if='is_new'>Add New Section</legend>
            <legend ng-if='!is_new'>Update Section</legend>
        </div>
        <div class='modal-body'>
            <div class='form-group'>
                <div class='col-xs-3 control-label'>Section Name</div>
                <div class='col-xs-6'>
                    <input type='text' ng-model='current_sub_category.sub_category_name' typeahead='mSection for mSection in section_names | filter:$viewValue | limitTo: 8' class='form-control'>
                </div>
            </div>
            <div class='clearfix'></div>
            <div class='form-group'>
                <div class='col-xs-3 control-label'>Section Description</div>
                <div class='col-xs-6'>
                    <textarea type='text' ng-model='current_sub_category.sub_category_description' class='form-control'></textarea>
                </div>
            </div>
        </div>
        <div class='clearfix'></div>
        <div class='form-group'>
            <button type='button' class='btn btn-primary' ng-click='resolveSection()' ng-if='is_new'><i class='fa fa-plus'></i> Add</button>
            <button type='button' class='btn btn-primary' ng-click='resolveSection()' ng-if='!is_new'> Update</button>
            <button type='button' class='btn btn-warning' ng-click='discardSection()'> Discard</button>
        </div>
    </script>
    <script type='text/ng-template' id='menuItemTemplate.html'>
        <div class='model-header'>
            <legend ng-if='is_new'>Add New Item</legend>
            <legend ng-if='!is_new'>Update Item</legend>
        </div>
        <div class='modal-body'>
            <form class='form-horizontal'>
                <fieldset>
                    <div class='form-group'>
                        <label class='col-md-2 control-label'>Item Name<i class='fa fa-asterisk'></i></label>
                        <div class='col-md-4'>
                            <input type='text' class='form-control' ng-model='current_item.item_name' placeholder='Item name here...'>
                        </div>
                        <label class='col-md-2 control-label'>Item Cost<i class='fa fa-asterisk'></i></label>
                        <div class='col-md-4'>
                            <div class='input-group'>
                                <div class='input-group-addon'><i class='fa fa-inr'></i></div>
                                <input type='number' class='form-control' ng-model='current_item.item_cost'>
                            </div>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-md-2 control-label'>Item Description<i class='fa fa-asterisk'></i></label>
                        <div class='col-md-10'>
                            <textarea class='form-control' ng-model='current_item.item_description' rows='4' placeholder='Item description here...'></textarea>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-md-2 control-label'>Item Photo</label>
                        <div class='col-md-4'>Photo Placeholder</div>
                        <label class='col-md-2 control-label'>Item Tags</label>
                        <div class='col-md-4'>
                            <input type='text' ng-list ng-model='current_item.item_tags' class='form-control'>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-md-2 control-label'>Is Vegetarian?</label>
                        <div class='col-md-10'>
                            <input bs-switch ng-model='current_item.is_vegetarian' type='checkbox' switch-on-text="YES" switch-off-text="NO">
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-md-2 control-label'>Variant Header</label>
                        <div class='col-md-6'>
                            <div class='input-group'>
                                <input type='text' ng-model='current_item.option_set_title' class='form-control'>
                                <span class='input-group-btn'>
                                    <button class='btn btn-primary' ng-disabled='!current_item.option_set_title' ng-click='addOptionSet($index)'><i class='fa fa-plus'></i> Add Option</button>
                                </span>
                            </div>
                        </div>
                        <label class='col-md-2 control-label'>Variants are Addon?</label>
                        <div class='col-md-2'>
                            <input bs-switch ng-model='current_item.option_set_is_addon' type='checkbox' switch-off-text="NO" switch-on-text="YES">
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='col-md-12'><strong>Variants</strong></label>
                        <div class='col-md-12'>
                            <div class='jumbotron' ng-repeat='option in current_item.option_set'>
                                <div class='col-xs-12'>
                                    <h4>Variant #{{$index + 1}}
                                        <button type='button' class='btn btn-warning' ng-click='removeOption($index)'><i class='fa fa-times'></i> </button>
                                    </h4>
                                </div>
                                <div class='form-group'>
                                    <label class='col-md-2 control-label'>Value</label>
                                    <div class='col-md-4'>
                                        <input type='text' ng-model='option.option_set_value' class='form-control'>
                                    </div>
                                    <label class='col-md-2 control-label'>Cost</label>
                                    <div class='col-md-4'>
                                        <div class='input-group'>
                                            <span class='input-group-addon'><i class='fa fa-inr'></i></span>
                                            <input type='number' ng-model='option.option_set_cost' class='form-control'>
                                        </div>
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label class='col-md-12'><strong>Sub Variants</strong>
                                        <button type='button' class='btn btn-sm btn-primary pull-right' ng-click='addSubVariant(option)'><i class='fa fa-plus'></i> Add Sub-variant Set</button>
                                    </label>
                                    <div class='col-md-12 table-responsive' ng-repeat='sub_option in option.sub_options'>
                                        <legend>Sub-variant set #{{$index + 1}}
                                            <button type='button' class='btn btn-warning' ng-click='removeSubOption(option, $index)'><i class='fa fa-times'></i> </button>
                                        </legend>
                                        <label class='col-md-2'>Sub Option Name</label>
                                        <div class='input-group'>
                                            <input type='text' ng-model='sub_option.sub_option_title' class='form-control'>
                                            <span class='input-group-btn'>
                                                <button class='btn btn-primary' ng-disabled='!sub_option.sub_option_title' ng-click='addSubOptionPair(sub_option)'><i class='fa fa-plus'></i> Add Option</button>
                                            </span>
                                        </div>
                                        <table class='table'>
                                            <thead>
                                                <tr>
                                                    <th>S. No. </th>
                                                    <th>Value</th>
                                                    <th>Cost <i class='fa fa-inr'></i></th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat='sub_option_obj in sub_option.sub_option_set'>
                                                    <td>{{$index + 1}}</td>
                                                    <td><input type='text' ng-model='sub_option_obj.sub_option_value'></td>
                                                    <td>
                                                        <input type='number' ng-model='sub_option_obj.sub_option_cost'>
                                                    </td>
                                                    <td>
                                                        <button type='button' class='btn btn-warning' ng-click='removeSubOptionObj(sub_option, $index)'><i class='fa fa-times'></i> </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class='form-group'>
                                    <label class='col-md-12'><strong>Addons</strong>
                                        <button type='button' class='btn btn-sm btn-primary pull-right' ng-click='addAddonSet(option)'><i class='fa fa-plus'></i> Add Addon set</button>
                                    </label>
                                    <div class='col-md-12' ng-repeat='addon in option.addons'>
                                        <legend>Addon set {{$index + 1}}
                                            <button type='button' class='btn btn-warning' ng-click='removeAddon(option, $index)'><i class='fa fa-times'></i> </button>
                                        </legend>
                                        <label class='col-md-2'>Addon Set Title</label>
                                        <div class='input-group'>
                                            <input type='text' ng-model='addon.addon_title' class='form-control'>
                                            <span class='input-group-btn'>
                                                <button class='btn btn-primary' ng-disabled='!addon.addon_title' ng-click='addAddonObj(addon)'><i class='fa fa-plus'></i> Add Addon Value</button>
                                            </span>
                                        </div>
                                        <table class='table'>
                                            <thead>
                                                <tr>
                                                    <th>S No</th>
                                                    <th>Value</th>
                                                    <th>Cost <i class='fa fa-inr'></i></th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat='addon_obj in addon.addon_set'>
                                                    <td>{{$index + 1}}</td>
                                                    <td><input type='text' ng-model='addon_obj.addon_value' ></td>
                                                    <td><input type='number' ng-model='addon_obj.addon_cost'></td>
                                                    <td>
                                                        <button type='button' class='btn btn-warning' ng-click='removeAddonObj(addon, $index)'><i class='fa fa-times'></i> </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            <p>&nbsp;</p>
        </div>
        <div class='clearfix'></div>
        <div class='modal-footer'>
            <button type='button' class='btn btn-primary' ng-click='resolveItem()' ng-if='is_new'><i class='fa fa-plus'></i> Add</button>
            <button type='button' class='btn btn-primary' ng-click='resolveItem()' ng-if='!is_new'> Update</button>
            <button type='button' class='btn btn-warning' ng-click='discardItem()'> Discard</button>
        </div>
    </script>
</div>