<div class='col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2' style='min-height:100vh;padding-bottom:50px;'>
    <div class='well well-lg'>
        <form class='form-horizontal'>
            <fieldset>
                <legend>Menu Basics</legend>
                <div class='form-group' ng-class='{"has-error": formFailure && !menu.menu_type}'>
                    <label for='menu_type' class='col-md-2 control-label'>Menu Type <span class='glyphicon glyphicon-asterisk glyphicon-sm'>
                    </span></label>
                    <div class='col-md-8'>
                        <input type='text' ng-model='menu.menu_type' typeahead='mType for mType in menu_types | filter:$viewValue | limitTo: 8' class='form-control'>
                    </div>
                </div>
                <div class='form-group' ng-class='{"has-error": formFailure && !menu.outlet}'>
                    <label for='outlet' class='col-md-2 control-label'>Outlet</label>
                    <div class='col-md-8'>
                        <select ui-select ng-model='menu.outlet' data-placeholder='Choose an outlet' class='form-control'>
                            <option value='' ng-if='!menu.outlet'>Choose an outlet</option>
                            <option value='{{outlet._id}}' ng-repeat='outlet in outlets'>{{outlet.basics.name}}, {{outlet.contact.location.locality_1[0]}} {{outlet.contact.location.locality_1[0]?', ':''}} {{outlet.contact.location.locality_2[0]}}</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>
        <legend>Menu Categories</legend>
        <div class='form-group'>
            <accordion close-others='true'>
                <accordion-group ng-repeat='menu_category in menu.menu_categories' heading='{{menu_category.category_name}}'>
                    <accordion-heading>
                        {{menu_category.category_name}}
                        <button class='btn btn-sm btn-link pull-right' ng-click='removeCategory($index)' ng-if='menu.menu_categories.length > 1'>Delete</button>
                        <button class='btn btn-sm btn-link pull-right' ng-click='manageCategory($index)'>Edit</button>
                        
                    </accordion-heading>
                    <accordion close-others='true'>
                        <accordion-group ng-repeat='sub_category in menu_category.sub_categories' heading='{{sub_category.sub_category_name}}'>
                            <accordion-heading>
                                {{sub_category.sub_category_name}}
                                <button class='btn btn-sm btn-link pull-right' ng-click='removeSubCategory(menu_category, $index)' ng-if='menu_category.sub_categories.length > 1'>Delete</button>
                                <button class='btn btn-sm btn-link pull-right' ng-click='manageSubCategory(menu_category, $index)'>Edit</button>
                                
                            </accordion-heading>
                            <p class='alert alert-info text-justify' ng-if='sub_category.sub_category_description'>{{sub_category.sub_category_description}}</p>
                            <accordion close-others='true'>
                                <accordion-group ng-repeat='item in sub_category.items' heading='{{"Item #" + $index + " " + item.item_name}}'>
                                    <accordion-heading>
                                        # {{($index + 1) + " " + item.item_name + (item.item_cost?' Rs. ' + item.item_cost: '')}}
                                        <button class='btn btn-sm btn-link pull-right' ng-click='deleteItem(sub_category, $index)' ng-if='sub_category.items.length > 1'>Delete</button>
                                        <button class='btn btn-sm btn-link pull-right' ng-click='editItem(sub_category, $index)'>Edit</button>
                                    </accordion-heading>
                                    <div class='col-md-4' ng-repeat='option_set in item.option_sets'>
                                        <div class='panel panel-primary'>
                                            <div class='panel-heading'>{{option_set.option_set_name + ": " + option_set.option_set_value + " Rs." + option_set.option_set_cost}}</div>
                                            <div class='panel-body'>
                                                <label class='control-label'>Options</label>
                                                <p ng-repeat='option in option_set.options'>{{option.option_name + ": Rs." + option.option_cost}}</p>
                                                <label class='control-label'>Addons</label>
                                                <p ng-repeat='addon in option_set.addons'>{{addon.addon_name + ": Rs." + addon.addon_cost}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </accordion-group>
                                <div>&nbsp;</div>
                                <button class='btn btn-sm btn-primary' ng-click='addItem(sub_category)'><i class='fa fa-plus'></i> Add Item</button>
                            </accordion>
                        </accordion-group>
                        <div>&nbsp;</div>
                        <button class='btn btn-primary' ng-click='addSubCategory($index)'><i class='fa fa-plus'></i> Add Section</button>
                    </accordion>
                </accordion-group>
                <div>&nbsp;</div>
                <button class='btn btn-lg btn-primary' ng-click='addMenuCategory()'><i class='fa fa-plus'></i> Add Category</button>
            </accordion>
        </div>
    </div>
    <div class='well well-lg'>
        <span class='button-group'>
            <button type='button' class='btn btn-primary' ng-click='updateMenu()'>Update Menu</button>
        </span>
    </div>

    {{menu}}
    <script type='text/ng-template' id='menuCategoryTemplate.html'>
        <div class='modal-header'>
            <legend ng-if='is_new'>Add New Category</legend>
            <legend ng-if='!is_new'>Update Category</legend>
        </div>
        <div class='modal-body'>
            <div class='form-group'>
                <div class='col-xs-3 control-label'>Category Name</div>
                <div class='col-xs-6'>
                    <input type='text' ng-model='current_category.category_name' typeahead='mCategory for mCategory in menu_categories | filter:$viewValue | limitTo: 8' class='form-control'>
                </div>
            </div>
            <div class='clearfix'></div>
            <div class='form-group'>
                <button type='button' class='btn btn-primary' ng-click='resolveCategory()' ng-if='is_new'><i class='fa fa-plus'></i> Add</button>
                <button type='button' class='btn btn-primary' ng-click='resolveCategory()' ng-if='!is_new'> Update</button>
                <button type='button' class='btn btn-warning' ng-click='discardCategory()'>Discard</button>
            </div>
        </div>
    </script>
    <script type='text/ng-template' id='subCategoryTemplate.html'>
        <div class='model-header'>
            <legend ng-if='is_new'>Add New Section</legend>
            <legend ng-if='!is_new'>Update Section</legend>
        </div>
        <div class='modal-body'>
            <div class='form-group'>
                <div class='col-xs-3 control-label'>Section Name</div>
                <div class='col-xs-6'>
                    <input type='text' ng-model='current_sub_category.sub_category_name' typeahead='mSection for mSection in section_names | filter:$viewValue | limitTo: 8' class='form-control'>
                </div>
            </div>
            <div class='clearfix'></div>
            <div class='form-group'>
                <div class='col-xs-3 control-label'>Section Description</div>
                <div class='col-xs-6'>
                    <textarea type='text' ng-model='current_sub_category.sub_category_description' class='form-control'></textarea>
                </div>
            </div>
        </div>
        <div class='clearfix'></div>
        <div class='form-group'>
            <button type='button' class='btn btn-primary' ng-click='resolveSection()' ng-if='is_new'><i class='fa fa-plus'></i> Add</button>
            <button type='button' class='btn btn-primary' ng-click='resolveSection()' ng-if='!is_new'> Update</button>
            <button type='button' class='btn btn-warning' ng-click='discardSection()'> Discard</button>
        </div>
    </script>
    <script type='text/ng-template' id='menuItemTemplate.html'>
        <div class='model-header'>
            <legend ng-if='is_new'>Add New Item</legend>
            <legend ng-if='!is_new'>Update Item</legend>
        </div>
        <div class='modal-body'>
            <div class='form-group'>
                <label class='col-xs-4 control-label'>Item Name</label>
                <div class='col-xs-6'>
                    <input type='text' class='form-control' ng-model='current_item.item_name'>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class='form-group'>
                <label class='col-xs-4 control-label'>Item Description</label>
                <div class='col-xs-6'>
                    <textarea class='form-control' ng-model='current_item.item_description'></textarea>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class='form-group'>
                <label class='col-xs-4 control-label'>Item Tags</label>
                <div class='col-xs-6'>
                    <input ng-model='current_item.item_tags' ng-list class='form-control'>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class='form-group'>
                <label class='col-xs-4 control-label'>Item Cost</label>
                <div class='col-xs-6'>
                    <div class='input-group'>
                        <span class='input-group-addon'>Rs. </span>
                        <input type='number' class='form-control' ng-model='current_item.item_cost'>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class='form-group'>
                <label class='col-xs-4 control-label'>Is Vegetarian</label>
                <div class='col-xs-6'>
                    <input bs-switch ng-model='current_item.is_vegetarian' type='checkbox' switch-on-text="YES" switch-off-text="NO">
                </div>
            </div>
            <p>&nbsp;</p>
            <div class='form-group'>
                <label class='col-xs-4 control-label'>Option Sets</label>
                <div class='col-xs-12'>
                    <div class='row' ng-repeat='option_set in current_item.option_sets'>
                        <div class='col-xs-2 control-label'># {{$index + 1}}
                            <button type='button' class='btn btn-warning btn-link' ng-click='removeOptionSet($index)'><i class='fa fa-times'></i></button>
                        </div>
                        <div class='col-xs-8'>
                            <div class='row'>
                                <label class='col-xs-4 control-label'>Option Set Name</label>
                                <div class='col-xs-8'>
                                    <input type='text' class='form-control' ng-model='option_set.option_set_name'>
                                </div>
                            </div>
                            <div class='row'>
                                <label class='col-xs-4 control-label'>Option Set Value</label>
                                <div class='col-xs-8'>
                                    <input type='text' class='form-control' ng-model='option_set.option_set_value'>
                                </div>
                            </div>
                            <div class='row'>
                                <label class='col-xs-4 control-label'>Option Set Cost</label>
                                <div class='col-xs-8'>
                                    <input type='number' class='form-control' ng-model='option_set.option_set_cost'>
                                </div>
                            </div>
                            <div class='row'>
                                <label class='col-xs-4 control-label'>Options</label>
                                <div class='col-xs-12' ng-repeat='option in option_set.options'>
                                    <div class='row'>
                                        <div class='col-xs-2 control-label'># {{$index + 1}}
                                            <button type='button' class='btn btn-warning btn-link' ng-click='removeOption(option_set, $index)'><i class='fa fa-times'></i></button>
                                        </div>
                                        <div class='col-xs-8'>
                                            <div class='row'>
                                                <label class='col-xs-4 control-label'>Option Name</label>
                                                <div class='col-xs-8'>
                                                    <input type='text' class='form-control' ng-model='option.option_name'>
                                                </div>
                                            </div>
                                            <div class='row'>
                                                <label class='col-xs-4 control-label'>Option Cost</label>
                                                <div class='col-xs-8'>
                                                    <input type='number' class='form-control' ng-model='option.option_cost'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-xs-12'>
                                    <button type='button' class='btn btn-primary' ng-click='addOption(option_set)'><i class='fa fa-plus'></i> Add Option Set</button>
                                </div>
                                <div class='col-xs-12'>&nbsp;</div>
                            </div>
                            <div class='row'>
                                <label class='col-xs-4 control-label'>Addons</label>
                                <div class='col-xs-12' ng-repeat='addon in option_set.addons'>
                                    <div class='row'>
                                        <div class='col-xs-2 control-label'># {{$index + 1}}
                                            <button type='button' class='btn btn-warning btn-link' ng-click='removeAddon(option_set, $index)'>
                                            <i class='fa fa-times'></i></button>
                                        </div>
                                        <div class='col-xs-8'>
                                            <div class='row'>
                                                <label class='col-xs-4 control-label'>Addon Name</label>
                                                <div class='col-xs-8'>
                                                    <input type='text' class='form-control' ng-model='addon.addon_name'>
                                                </div>
                                            </div>
                                            <div class='row'>
                                                <label class='col-xs-4 control-label'>Addon Cost</label>
                                                <div class='col-xs-8'>
                                                    <input type='number' class='form-control' ng-model='addon.addon_cost'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-xs-12'>
                                    <button type='button' class='btn btn-primary' ng-click='addAddon(option_set)'><i class='fa fa-plus'></i> Add Option Set</button>
                                </div>
                                <div class='col-xs-12'>&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-xs-12'>
                    <button type='button' class='btn btn-primary' ng-click='addOptionSet()'><i class='fa fa-plus'></i> Add Option Set</button>
                </div>
                <div class='col-xs-12'>&nbsp;</div>
            </div>
            <p>&nbsp;</p>
        </div>
        <div class='clearfix'></div>
        <div class='form-group'>
            <button type='button' class='btn btn-primary' ng-click='resolveItem()' ng-if='is_new'><i class='fa fa-plus'></i> Add</button>
            <button type='button' class='btn btn-primary' ng-click='resolveItem()' ng-if='!is_new'> Update</button>
            <button type='button' class='btn btn-warning' ng-click='discardItem()'> Discard</button>
        </div>
    </script>
</div>