<div class='col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2' style='min-height:100vh;padding-bottom:50px;'>
    <div class='well well-lg'>
        <form class='form-horizontal'>
            <fieldset>
                <legend>Menu Basics</legend>
                <div class='form-group' ng-class='{"has-error": formFailure && !menu.menu_type}'>
                    <label for='menu_type' class='col-md-2 control-label'>Menu Type <span class='glyphicon glyphicon-asterisk glyphicon-sm'>
                    </span></label>
                    <div class='col-md-8'>
                        <input type='text' ng-model='menu.menu_type' typeahead='mType for mType in menu_types | filter:$viewValue | limitTo: 8' class='form-control'>
                    </div>
                </div>
                <div class='form-group' ng-class='{"has-error": formFailure && !menu.outlet}'>
                    <label for='outlet' class='col-md-2 control-label'>Outlet</label>
                    <div class='col-md-8'>
                        <input type='text' ng-model='menu.outlet' typeahead='outlet._id as outlet.basics.name for outlet in outlets | filter:$viewValue | limitTo: 8' class='form-control'>
                    </div>
                </div>
            </fieldset>
        </form>
        <h3>Menu Categories</h3>
        <div class='form-group'>
            <accordion close-others='true'>
                <accordion-group ng-repeat='description in menu.menu_description' heading='{{description.menu_category}}'>
                    <accordion-heading>
                        {{description.menu_category}}
                       
                    </accordion-heading>
                    <accordion close-others='true'>
                        <accordion-group ng-repeat='section in description.sections' heading='{{section.section_name}}'>
                            <accordion-heading>
                                {{section.section_name}}
                                
                            </accordion-heading>
                            <p class='alert alert-info text-justify'>{{section.section_description}}</p>
                            <accordion close-others='true'>
                                <accordion-group ng-repeat='item in section.items' heading='{{"Item #" + $index + " " + item.item_name}}'>
                                    <accordion-heading>
                                        # {{($index + 1) + item.item_name + (item.item_cost?'Rs. ' + item.item_cost: '')}}
                                       
                                    <div class='col-md-4' ng-repeat='option in item.item_options'>
                                        <div class='panel panel-primary'>
                                            <div class='panel-heading'>{{option.option + ": Rs." + option.option_cost}}</div>
                                            <div class='panel-body'>
                                                <p ng-repeat='add_on in option.add_on'>{{add_on.add_on_item + ": Rs." + add_on.add_on_item_cost}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </accordion-group>
                                <div>&nbsp;</div>
                                
                            </accordion>
                        </accordion-group>
                        <div>&nbsp;</div>
                        
                    </accordion>
                </accordion-group>
                <div>&nbsp;</div>
                
            </accordion>
        </div>
    </div>

    {{menu}}
    <script type='text/ng-template' id='menuCategoryTemplate.html'>
        
        <div class='modal-body'>
            <div class='form-group'>
                <div class='col-xs-3 control-label'>Category Name</div>
                <div class='col-xs-6'>
                    <input type='text' ng-model='current_category.menu_category' typeahead='mCategory for mCategory in menu_categories | filter:$viewValue | limitTo: 8' class='form-control'>
                </div>
            </div>
            <div class='clearfix'></div>
        </div>
    </script>
    <script type='text/ng-template' id='menuSectionTemplate.html'>
        
        <div class='modal-body'>
            <div class='form-group'>
                <div class='col-xs-3 control-label'>Section Name</div>
                <div class='col-xs-6'>
                    <input type='text' ng-model='current_section.section_name' typeahead='mSection for mSection in section_names | filter:$viewValue | limitTo: 8' class='form-control'>
                </div>
            </div>
        </div>
        <div class='clearfix'></div>
         
    </script>
    <script type='text/ng-template' id='menuItemTemplate.html'>
        
        <div class='modal-body'>
            <div class='form-group'>
                <label class='col-xs-4 control-label'>Item Name</label>
                <div class='col-xs-6'>
                    <input type='text' class='form-control' ng-model='current_item.item_name'>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class='form-group'>
                <label class='col-xs-4 control-label'>Item Description</label>
                <div class='col-xs-6'>
                    <textarea class='form-control' ng-model='current_item.item_description'></textarea>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class='form-group'>
                <label class='col-xs-4 control-label'>Item Tags</label>
                <div class='col-xs-6'>
                    <input ng-model='current_item.item_tags' ng-list class='form-control'>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class='form-group'>
                <label class='col-xs-4 control-label'>Item Cost</label>
                <div class='col-xs-6'>
                    <div class='input-group'>
                        <span class='input-group-addon'>Rs. </span>
                        <input type='number' class='form-control' ng-model='current_item.item_cost'>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class='form-group'>
                <label class='col-xs-4 control-label'>Item Options</label>
                <div class='col-xs-12'>
                    <div class='row' ng-repeat='option in current_item.item_options'>
                        <div class='col-xs-2 control-label'># {{$index + 1}}
                            <button type='button' class='btn btn-warning btn-link' ng-click='removeItemOption($index)'><i class='fa fa-times'></i></button>
                        </div>
                        <div class='col-xs-8'>
                            <div class='row'>
                                <label class='col-xs-4 control-label'>Option Name</label>
                                <div class='col-xs-8'>
                                    <input type='text' class='form-control' ng-model='option.option'>
                                </div>
                            </div>
                            <div class='row'>
                                <label class='col-xs-4 control-label'>Option Cost</label>
                                <div class='col-xs-8'>
                                    <div class='input-group'>
                                        <span class='input-group-addon'>Rs. </span>
                                        <input type='number' class='form-control' ng-model='option.option_cost'>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <label class='col-xs-4 control-label'>Addons</label>
                                <div class='col-xs-12' ng-repeat='addon in option.add_on'>
                                    <div class='row text-justify'>Addon # {{$index + 1}}
                                        <button type='button' class='btn btn-warning btn-link' ng-click='removeAddon(option, $index)'><i class='fa fa-times'></i></button>
                                    </div>
                                    <div class='row'>
                                        <label class='col-xs-2 control-label'>Addon Name</label>
                                        <div class='col-xs-8'>
                                            <input type='text' ng-model='addon.add_on_item' class='form-control'>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <label class='col-xs-2 control-label'>Addon Cost</label>
                                        <div class='col-xs-8'>
                                            <input type='number'  ng-model='addon.add_on_item_cost' class='form-control'>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-xs-12'>
                                    <button type='button' class='btn btn-primary' ng-click='addAddon($index)'><i class='fa fa-plus'></i> Add Addon</button>
                                </div>
                                <div class='col-xs-12'>&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='col-xs-12'>
                    <button type='button' class='btn btn-primary' ng-click='addItemOption()'><i class='fa fa-plus'></i> Add Option</button>
                </div>
                <div class='col-xs-12'>&nbsp;</div>
            </div>
        </div>
        <div class='clearfix'></div>
    </script>
</div>