<div>&nbsp;</div>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-offset-2 col-md-8'>
            <form class='form-horizontal'>
                <legend>View Menu</legend>
                <div class='form-group'>
                    <label class='col-sm-2 control-label'>Menu Type <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-sm-8'>
                        <input type='text' ng-model='menu.menu_type' typeahead='mType for mType in menu_types | filter:$viewValue | limitTo: 8' class='form-control' disabled>
                    </div>
                </div>
                <div class='clearfix'></div>
                <div class='form-group' ng-class='{"has-error": formFailure && !menu.outlet}'>
                    <label for='outlet' class='col-md-2 control-label'>Outlet <i class='fa fa-sm fa-asterisk'></i></label>
                    <div class='col-md-8'>
                        <select ui-select ng-model='menu.outlet' data-placeholder='Choose an outlet' class='form-control' disabled>
                            <option value='' ng-if='!menu.outlet'>Choose an outlet</option>
                            <option value='{{outlet._id}}' ng-repeat='outlet in outlets'>{{outlet.basics.name}}, {{outlet.contact.location.locality_1[0]}} {{outlet.contact.location.locality_1[0]?', ':''}} {{outlet.contact.location.locality_2[0]}}</option>
                        </select>
                    </div>
                </div>
                <div class='clearfix'></div>
                <div ui-tree>
                    <ol ui-tree-nodes ng-model='menu.menu_categories'>
                        <li ng-repeat='category in menu.menu_categories track by $index' ui-tree-node>
                            <div ui-tree-handle class='tree-node tree-node-content'>
                                <a class='btn btn-dark btn-xs' ng-if='category.sub_categories.length' data-nodrag ng-click='toggle(this)'>
                                    <span class='fa' ng-class='{"fa-chevron-right": collapsed, "fa-chevron-down": !collapsed}'></span>
                                </a>
                                {{category.category_name}} [Category]
                            </div>
                            <div ui-tree>
                                <ol ui-tree-nodes ng-model='category.sub_categories' ng-class="{hidden: collapsed}">
                                    <li ng-repeat='sub_category in category.sub_categories track by $index' ui-tree-node>
                                        <div ui-tree-handle class='tree-node tree-node-content' ng-if='category.sub_categories.length!==1'>
                                            <a class='btn btn-dark btn-xs' ng-if='sub_category.items.length' data-nodrag ng-click='toggle(this)'>
                                                <span class='fa' ng-class='{"fa-chevron-right": collapsed, "fa-chevron-down": !collapsed}'></span>
                                            </a>
                                            {{sub_category.sub_category_name}} [Sub Category]
                                        </div>
                                        <div ui-tree>
                                            <ol ui-tree-nodes ng-model='sub_category.items' ng-class="{hidden: collapsed}">
                                                <li ng-repeat='item in sub_category.items track by $index' ui-tree-node>
                                                    <div ui-tree-handle class='tree-node tree-node-content'>
                                                        <a class='btn btn-dark btn-xs' ng-if='item.options.length' data-nodrag ng-click='toggle(this)'>
                                                            <span class='fa' ng-class='{"fa-chevron-right": collapsed, "fa-chevron-down": !collapsed}'></span>
                                                        </a>
                                                        {{item.item_name}} <i class='fa fa-inr'></i>{{item.item_cost}} [Item]
                                                    </div>
                                                    <div ui-tree>
                                                        <ol ui-tree-nodes ng-model='item.options' ng-class="{hidden: collapsed}">
                                                            <li ng-repeat='option in item.options track by $index' ui-tree-node>
                                                                <div ui-tree-handle class='tree-node tree-node-content'>
                                                                    <a class='btn btn-dark btn-xs' ng-if='option.sub_options.length || option.addons.length' data-nodrag ng-click='toggle(this)'>
                                                                        <span class='fa' ng-class='{"fa-chevron-right": collapsed, "fa-chevron-down": !collapsed}'></span>
                                                                    </a>
                                                                    {{item.option_title}} - {{option.option_value}} <i class='fa fa-inr'></i>{{option.option_cost}}
                                                                </div>
                                                                <div ui-tree>
                                                                    <ol ui-tree-nodes ng-model='option.sub_options' ng-class="{hidden: collapsed}" style='margin-top:20px;'>
                                                                        <li ng-repeat='sub_option in option.sub_options track by $index' ui-tree-node>
                                                                            <div ui-tree-handle class='tree-node tree-node-content'>
                                                                                <a class='btn btn-dark btn-xs' ng-if='sub_option.sub_option_set.length' data-nodrag ng-click='toggle(this)'>
                                                                                    <span class='fa' ng-class='{"fa-chevron-right": collapsed, "fa-chevron-down": !collapsed}'></span>
                                                                                </a>
                                                                                {{sub_option.sub_option_title}} [Sub Options]
                                                                            </div>
                                                                            <div ui-tree>
                                                                                <ol ui-tree-nodes ng-model='sub_option.sub_option_set' ng-class='{hidden: collapsed}'>
                                                                                    <li ng-repeat='sub_option_obj in sub_option.sub_option_set track by $index' ui-tree-node>
                                                                                        <div ui-tree-handle class='tree-node tree-node-content'>
                                                                                            {{sub_option_obj.sub_option_value}} <i class='fa fa-inr'></i>{{sub_option_obj.sub_option_cost}}
                                                                                        </div>
                                                                                    </li>
                                                                                </ol>
                                                                            </div>
                                                                        </li>
                                                                    </ol>
                                                                </div>
                                                                <div ui-tree>
                                                                    <ol ui-tree-nodes ng-model='option.addons' ng-class="{hidden: collapsed}" style='margin-top:20px;'>
                                                                        <li ng-repeat='addon in option.addons track by $index' ui-tree-node>
                                                                            <div ui-tree-handle class='tree-node tree-node-content'>
                                                                                <a class='btn btn-dark btn-xs' ng-if='addon.addon_set.length' data-nodrag ng-click='toggle(this)'>
                                                                                    <span class='fa' ng-class='{"fa-chevron-right": collapsed, "fa-chevron-down": !collapsed}'></span>
                                                                                </a>
                                                                                {{addon.addon_title}} [Addons]
                                                                            </div>
                                                                            <div ui-tree>
                                                                                <ol ui-tree-nodes ng-model='addon.addon_set' ng-class='{hidden: collapsed}'>
                                                                                    <li ng-repeat='addon_obj in addon.addon_set track by $index' ui-tree-node>
                                                                                        <div ui-tree-handle class='tree-node tree-node-content'>
                                                                                            {{addon_obj.addon_value}} <i class='fa fa-inr'></i>{{addon_obj.addon_cost}}
                                                                                        </div>
                                                                                    </li>
                                                                                </ol>
                                                                            </div>
                                                                        </li>
                                                                    </ol>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </li>
                    </ol>
                </div>
            </form>
        </div>
    </div>
</div>
