<div class='col-xs-12 col-sm-10 col-sm-offset-1' ng-init='loadSubmittedOffer()'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <ol class='breadcrumb'>
                <li><a ui-sref='^.suggested_offers_manage'>Submitted Offers</a></li>
                <li class='active'>{{offer._id}}</li>
            </ol>
        </div>
        <div class='panel-body'>
            <div class='row'>
                <div class='col-sm-6'>
                    <img ng-src='{{offer.event_meta.photo}}' style='max-width:100%;height:auto;'>
                </div>
                <div class='col-sm-6'>
                    <div class='row'>
                        <label class='col-sm-6'>User Phone: </label>
                        <div class='col-sm-6'>{{offer.event_meta.user.phone}}</div>
                    </div>
                    <div class='row' ng-if='offer.event_meta.user.email'>
                        <label class='col-sm-6'>User email: </label>
                        <div class='col-sm-6'>{{offer.event_meta.user.email}}</div>
                    </div>
                    <div class='row'>
                        <label class='col-sm-6'>Outlet name: </label>
                        <div class='col-sm-6'>{{offer.event_meta.outlet}}</div>
                    </div>
                    <div class='row'>
                        <label class='col-sm-6'>Location: </label>
                        <div class='col-sm-6'>{{offer.event_meta.location}}</div>
                    </div>
                    <div class='row'>
                        <label class='col-sm-6'>Offer Detail: </label>
                        <div class='col-sm-6'>{{offer.event_meta.offer}}</div>
                    </div>
                    <div class='alert alert-danger' ng-if='offer.event_meta.status=="twyst_rejected"'>
                        <strong>Offer Rejected. Reason: </strong>
                        <p>{{offer.event_meta.reason}}</p>
                    </div>
                    <div class='col-xs-12'>
                        <p>&nbsp;</p>
                    </div>
                    <div class='col-xs-12' ng-if='offer.event_meta.status==="submitted"'>
                        <label for='valid_input' class='control-label'>Valid Input</label>
                        <div class='pull-right'>
                            <a class='btn' ng-class='{"btn-default": isValidInput!==true, "btn-primary": isValidInput===true}' ng-click='updateCheck("isValidInput", true)'>YES</a>
                            <a class='btn' ng-class='{"btn-default": isValidInput!==false, "btn-warning": isValidInput===false}' ng-click='updateCheck("isValidInput", false)'>NO</a>
                        </div>
                    </div>
                    <div class='col-xs-12'>&nbsp;</div>
                    <div class='col-xs-12' ng-if='isValidInput===true'>
                        <label for='already_on_twyst' class='control-label'>Offer Already on Twyst</label>
                        <div class='pull-right'>
                            <a class='btn' ng-class='{"btn-default": offerOnTwyst!==false, "btn-primary": offerOnTwyst===false}' ng-click='updateCheck("offerOnTwyst", false)'>NO</a>
                            <a class='btn' ng-class='{"btn-default": offerOnTwyst!==true, "btn-warning": offerOnTwyst===true}' ng-click='updateCheck("offerOnTwyst", true)'>YES</a>
                        </div>
                    </div>
                    <div class='col-xs-12'>&nbsp;</div>
                    <div class='col-xs-12' ng-if='isValidInput===true && offerOnTwyst===false'>
                        <label for='select_offer' class='col-sm-6 control-label'>Select Offer</label>
                        <div class='col-sm-6' ng-init='loadOffers()'>
                            <input type='text' ng-model='offer_name' typeahead='(offer.actions.reward.header + ", " + offer.actions.reward.line1 + ", " + offer.actions.reward.line2) for offer in offers | filter:$viewValue' class='form-control' typeahead-on-select='updateOutletId($item)'>
                        </div>
                    </div>
                    <div class='col-xs-12'>&nbsp;</div>
                    <div class='col-xs-12 text-center' ng-if='isValidInput===true && offerOnTwyst===false && offer.event_meta.actual_offer && offer.event_meta.status=="submitted"'>
                        <a type='button' class='btn btn-lg btn-success' ng-click='processOffer()'>Approve</a>
                    </div>
                    <div class='col-xs-12 text-center' ng-if='isValidInput===false || offerOnTwyst===true'>
                        <a type='button' class='btn btn-lg btn-danger' ng-click='rejectOffer()'>Reject</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
